In [91]:
import torch
from torch import nn
from torch.autograd import Variable
import pandas as pd
import dateutil
import datetime
from sklearn.model_selection import train_test_split
import numpy as np
import torch.nn.functional as funcs

In [92]:
# 68,335,729 data points in total
import random
p = 0.0001  # 0.01% of the lines -> 6800 data points
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
"""
df = pd.read_csv(
         'data/all_events.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)
"""
# df = pd.read_csv('../data/Kiasma_sorted.csv', nrows=500000, low_memory=False)
# df = pd.read_csv('../data/Rautatientoriit√§_sorted.csv', low_memory=False)
# df = pd.read_csv('../data/AaltoyliopistoMKorkeakouluaukio_sorted.csv', low_memory=False)
df = pd.read_csv('../data/Arabiankauppakeskus_sorted.csv', low_memory=False)

## Drop duplicated based on timestamp

In [93]:
df = df.drop_duplicates('ts').reset_index()

In [94]:
df.shape

(320175, 9)

## Add some useful columns

In [95]:
# sort based on timestamp
df = df.sort_values('ts')
# the hour and minutes of the timestamp
df['hour_and_minutes'] = df['ts'].apply(lambda x: x[11:16])
# month of timestamp
df['month'] = df['ts'].apply(lambda x: x[5:7])
# the percentage of bikes
df['bikes_percent'] = df['bikes'] / df['total_slots']
df['minutes_from_midnight'] = df['ts'].apply(lambda x: int(x[11:13]) * 60 + int(x[14:16]))
df['hour'] = df['hour_and_minutes'].apply(lambda x: x[:2])
df['date'] = df['ts'].apply(pd.to_datetime)
df['weekday'] = df['date'].apply(lambda x: x.weekday())
df['weekend'] = df['weekday'].apply(lambda x: x > 4)
df.head()

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend
0,0,2017-03-29T08:26:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:26,03,0.0,506,08,2017-03-29 08:26:01,2,False
1,1,2017-03-29T08:27:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:27,03,0.0,507,08,2017-03-29 08:27:01,2,False
2,2,2017-03-29T08:28:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:28,03,0.0,508,08,2017-03-29 08:28:01,2,False
3,3,2017-03-29T08:29:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:29,03,0.0,509,08,2017-03-29 08:29:01,2,False
4,4,2017-03-29T08:30:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:30,03,0.0,510,08,2017-03-29 08:30:01,2,False

## Prepare for predictions

### Add column which states whether a bike was added at a given moment

In [96]:
df['bike_added'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] < x['bikes'] , axis=1)
df['bike_removed'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] > x['bikes'] , axis=1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed
0,0,2017-03-29T08:26:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:26,03,0.0,506,08,2017-03-29 08:26:01,2,False,False,False
1,1,2017-03-29T08:27:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:27,03,0.0,507,08,2017-03-29 08:27:01,2,False,False,False
2,2,2017-03-29T08:28:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:28,03,0.0,508,08,2017-03-29 08:28:01,2,False,False,False
3,3,2017-03-29T08:29:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:29,03,0.0,509,08,2017-03-29 08:29:01,2,False,False,False
4,4,2017-03-29T08:30:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:30,03,0.0,510,08,2017-03-29 08:30:01,2,False,False,False
5,5,2017-03-29T08:31:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:31,03,0.0,511,08,2017-03-29 08:31:01,2,False,False,False
6,6,2017-03-29T08:32:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:32,03,0.0,512,08,2017-03-29 08:32:01,2,False,False,False
7,7,2017-03-29T08:33:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:33,03,0.0,513,08,2017-03-29 08:33:01,2,False,False,False
8,8,2017-03-29T08:34:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:34,03,0.0,514,08,2017-03-29 08:34:01,2,False,False,False
9,9,2017-03-29T08:35:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:35,03,0.0,515,08,2017-03-29 08:35:01,2,False,False,False
10,10,2017-03-29T08:36:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:36,03,0.0,516,08,2017-03-29 08:36:01,2,False,False,False
11,11,2017-03-29T08:37:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:37,03,0.0,517,08,2017-03-29 08:37:02,2,False,False,False
12,12,2017-03-29T08:38:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:38,03,0.0,518,08,2017-03-29 08:38:01,2,False,False,False
13,13,2017-03-29T08:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:39,03,0.0,519,08,2017-03-29 08:39:01,2,False,False,False
14,14,2017-03-29T08:40:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:40,03,0.0,520,08,2017-03-29 08:40:01,2,False,False,False
15,15,2017-03-29T08:41:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:41,03,0.0,521,08,2017-03-29 08:41:01,2,False,False,False
16,16,2017-03-29T08:42:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:42,03,0.0,522,08,2017-03-29 08:42:01,2,False,False,False
17,17,2017-03-29T08:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:43,03,0.0,523,08,2017-03-29 08:43:01,2,False,False,False
18,18,2017-03-29T08:44:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:44,03,0.0,524,08,2017-03-29 08:44:01,2,False,False,False
19,19,2017-03-29T08:46:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:46,03,0.0,526,08,2017-03-29 08:46:01,2,False,False,False
20,20,2017-03-29T08:47:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:47,03,0.0,527,08,2017-03-29 08:47:01,2,False,False,False
21,21,2017-03-29T08:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:48,03,0.0,528,08,2017-03-29 08:48:01,2,False,False,False
22,22,2017-03-29T08:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:49,03,0.0,529,08,2017-03-29 08:49:01,2,False,False,False
23,23,2017-03-29T08:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:50,03,0.0,530,08,2017-03-29 08:50:01,2,False,False,False
24,24,2017-03-29T08:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:51,03,0.0,531,08,2017-03-29 08:51:01,2,False,False,False
25,25,2017-03-29T08:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:52,03,0.0,532,08,2017-03-29 08:52:01,2,False,False,False
26,26,2017-03-29T08:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:53,03,0.0,533,08,2017-03-29 08:53:01,2,False,False,False
27,27,2017-03-29T08:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:54,03,0.0,534,08,2017-03-29 08:54:01,2,False,False,False
28,28,2017-03-29T08:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:55,03,0.0,535,08,2017-03-29 08:55:01,2,False,False,False
29,29,2017-03-29T08:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:56,03,0.0,536,08,2017-03-29 08:56:01,2,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,2017-04-03T13:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:48,04,0.0,828,13,2017-04-03 13:48:01,0,False,False,False
71,71,2017-04-03T13:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:49,04,0.0,829,13,2017-04-03 13:49:01,0,False,False,False
72,72,2017-04-03T13:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:50,04,0.0,830,13,2017-04-03 13:50:01,0,False,False,False
73,73,2017-04-03T13:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:51,04,0.0,831,13,2017-04-03 13:51:01,0,False,False,False
74,74,2017-04-03T13:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:52,04,0.0,832,13,2017-04-03 13:52:01,0,False,False,False
75,75,2017-04-03T13:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:53,04,0.0,833,13,2017-04-03 13:53:01,0,False,False,False
76,76,2017-04-03T13:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:54,04,0.0,834,13,2017-04-03 13:54:01,0,False,False,False
77,77,2017-04-03T13:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:55,04,0.0,835,13,2017-04-03 13:55:01,0,False,False,False
78,78,2017-04-03T13:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:56,04,0.0,836,13,2017-04-03 13:56:01,0,False,False,False
79,79,2017-04-03T13:57:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:57,04,0.0,837,13,2017-04-03 13:57:02,0,False,False,False
80,80,2017-04-03T14:12:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:12,04,0.0,852,14,2017-04-03 14:12:01,0,False,False,False
81,81,2017-04-03T14:13:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:13,04,0.0,853,14,2017-04-03 14:13:01,0,False,False,False
82,82,2017-04-03T14:16:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:16,04,0.0,856,14,2017-04-03 14:16:01,0,False,False,False
83,83,2017-04-03T14:18:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:18,04,0.0,858,14,2017-04-03 14:18:01,0,False,False,False
84,84,2017-04-03T14:19:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:19,04,0.0,859,14,2017-04-03 14:19:01,0,False,False,False
85,85,2017-04-03T14:20:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:20,04,0.0,860,14,2017-04-03 14:20:01,0,False,False,False
86,86,2017-04-03T14:21:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:21,04,0.0,861,14,2017-04-03 14:21:01,0,False,False,False
87,87,2017-04-03T14:22:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:22,04,0.0,862,14,2017-04-03 14:22:01,0,False,False,False
88,88,2017-04-03T14:24:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:24,04,0.0,864,14,2017-04-03 14:24:01,0,False,False,False
89,89,2017-04-03T14:25:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:25,04,0.0,865,14,2017-04-03 14:25:01,0,False,False,False
90,90,2017-04-03T14:26:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:26,04,0.0,866,14,2017-04-03 14:26:01,0,False,False,False
91,91,2017-04-03T14:27:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:27,04,0.0,867,14,2017-04-03 14:27:01,0,False,False,False
92,92,2017-04-03T14:28:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:28,04,0.0,868,14,2017-04-03 14:28:01,0,False,False,False
93,93,2017-04-03T14:29:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:29,04,0.0,869,14,2017-04-03 14:29:01,0,False,False,False
94,94,2017-04-03T14:30:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:30,04,0.0,870,14,2017-04-03 14:30:01,0,False,False,False
95,95,2017-04-03T14:31:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:31,04,0.0,871,14,2017-04-03 14:31:01,0,False,False,False
96,96,2017-04-03T14:32:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:32,04,0.0,872,14,2017-04-03 14:32:01,0,False,False,False
97,97,2017-04-03T14:33:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:33,04,0.0,873,14,2017-04-03 14:33:01,0,False,False,False
98,98,2017-04-03T14:45:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:45,04,0.0,885,14,2017-04-03 14:45:01,0,False,False,False
99,99,2017-04-04T02:50:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,02:50,04,0.0,170,02,2017-04-04 02:50:01,1,False,False,False

### Add max waiting time for next bike

In [97]:
# extract difference in minutes to a separate column
# on the moment that a bike was added, the waiting time is the time to next bike
i = 0
first_non_additive_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_added'] == False):
        i += 1
    if (i >= len(df)):
        break
    additive_row = df.iloc[i]
#     time = additive_row['minutes_from_midnight']
#     difference = abs(time - df.iloc[first_non_additive_index]['minutes_from_midnight'])
#     df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike'] = difference 
    # add time using a date object (more accurate if wait for more than 24h)
    date_time = additive_row['date']
    last_date = df.iloc[first_non_additive_index]['date']
    date_difference = abs((date_time - last_date).total_seconds() / 60)
    df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike_as_date'] = date_difference 
    first_non_additive_index = i
    i += 1
# if we can't know when the next bike will be added, fill with -1 for now
df = df.fillna(-1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike_as_date
0,0,2017-03-29T08:26:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:26,03,0.0,506,08,2017-03-29 08:26:01,2,False,False,False,50730.0
1,1,2017-03-29T08:27:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:27,03,0.0,507,08,2017-03-29 08:27:01,2,False,False,False,50730.0
2,2,2017-03-29T08:28:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:28,03,0.0,508,08,2017-03-29 08:28:01,2,False,False,False,50730.0
3,3,2017-03-29T08:29:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:29,03,0.0,509,08,2017-03-29 08:29:01,2,False,False,False,50730.0
4,4,2017-03-29T08:30:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:30,03,0.0,510,08,2017-03-29 08:30:01,2,False,False,False,50730.0
5,5,2017-03-29T08:31:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:31,03,0.0,511,08,2017-03-29 08:31:01,2,False,False,False,50730.0
6,6,2017-03-29T08:32:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:32,03,0.0,512,08,2017-03-29 08:32:01,2,False,False,False,50730.0
7,7,2017-03-29T08:33:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:33,03,0.0,513,08,2017-03-29 08:33:01,2,False,False,False,50730.0
8,8,2017-03-29T08:34:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:34,03,0.0,514,08,2017-03-29 08:34:01,2,False,False,False,50730.0
9,9,2017-03-29T08:35:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:35,03,0.0,515,08,2017-03-29 08:35:01,2,False,False,False,50730.0
10,10,2017-03-29T08:36:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:36,03,0.0,516,08,2017-03-29 08:36:01,2,False,False,False,50730.0
11,11,2017-03-29T08:37:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:37,03,0.0,517,08,2017-03-29 08:37:02,2,False,False,False,50730.0
12,12,2017-03-29T08:38:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:38,03,0.0,518,08,2017-03-29 08:38:01,2,False,False,False,50730.0
13,13,2017-03-29T08:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:39,03,0.0,519,08,2017-03-29 08:39:01,2,False,False,False,50730.0
14,14,2017-03-29T08:40:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:40,03,0.0,520,08,2017-03-29 08:40:01,2,False,False,False,50730.0
15,15,2017-03-29T08:41:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:41,03,0.0,521,08,2017-03-29 08:41:01,2,False,False,False,50730.0
16,16,2017-03-29T08:42:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:42,03,0.0,522,08,2017-03-29 08:42:01,2,False,False,False,50730.0
17,17,2017-03-29T08:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:43,03,0.0,523,08,2017-03-29 08:43:01,2,False,False,False,50730.0
18,18,2017-03-29T08:44:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:44,03,0.0,524,08,2017-03-29 08:44:01,2,False,False,False,50730.0
19,19,2017-03-29T08:46:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:46,03,0.0,526,08,2017-03-29 08:46:01,2,False,False,False,50730.0
20,20,2017-03-29T08:47:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:47,03,0.0,527,08,2017-03-29 08:47:01,2,False,False,False,50730.0
21,21,2017-03-29T08:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:48,03,0.0,528,08,2017-03-29 08:48:01,2,False,False,False,50730.0
22,22,2017-03-29T08:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:49,03,0.0,529,08,2017-03-29 08:49:01,2,False,False,False,50730.0
23,23,2017-03-29T08:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:50,03,0.0,530,08,2017-03-29 08:50:01,2,False,False,False,50730.0
24,24,2017-03-29T08:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:51,03,0.0,531,08,2017-03-29 08:51:01,2,False,False,False,50730.0
25,25,2017-03-29T08:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:52,03,0.0,532,08,2017-03-29 08:52:01,2,False,False,False,50730.0
26,26,2017-03-29T08:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:53,03,0.0,533,08,2017-03-29 08:53:01,2,False,False,False,50730.0
27,27,2017-03-29T08:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:54,03,0.0,534,08,2017-03-29 08:54:01,2,False,False,False,50730.0
28,28,2017-03-29T08:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:55,03,0.0,535,08,2017-03-29 08:55:01,2,False,False,False,50730.0
29,29,2017-03-29T08:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:56,03,0.0,536,08,2017-03-29 08:56:01,2,False,False,False,50730.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,2017-04-03T13:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:48,04,0.0,828,13,2017-04-03 13:48:01,0,False,False,False,50730.0
71,71,2017-04-03T13:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:49,04,0.0,829,13,2017-04-03 13:49:01,0,False,False,False,50730.0
72,72,2017-04-03T13:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:50,04,0.0,830,13,2017-04-03 13:50:01,0,False,False,False,50730.0
73,73,2017-04-03T13:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:51,04,0.0,831,13,2017-04-03 13:51:01,0,False,False,False,50730.0
74,74,2017-04-03T13:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:52,04,0.0,832,13,2017-04-03 13:52:01,0,False,False,False,50730.0
75,75,2017-04-03T13:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:53,04,0.0,833,13,2017-04-03 13:53:01,0,False,False,False,50730.0
76,76,2017-04-03T13:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:54,04,0.0,834,13,2017-04-03 13:54:01,0,False,False,False,50730.0
77,77,2017-04-03T13:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:55,04,0.0,835,13,2017-04-03 13:55:01,0,False,False,False,50730.0
78,78,2017-04-03T13:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:56,04,0.0,836,13,2017-04-03 13:56:01,0,False,False,False,50730.0
79,79,2017-04-03T13:57:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:57,04,0.0,837,13,2017-04-03 13:57:02,0,False,False,False,50730.0
80,80,2017-04-03T14:12:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:12,04,0.0,852,14,2017-04-03 14:12:01,0,False,False,False,50730.0
81,81,2017-04-03T14:13:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:13,04,0.0,853,14,2017-04-03 14:13:01,0,False,False,False,50730.0
82,82,2017-04-03T14:16:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:16,04,0.0,856,14,2017-04-03 14:16:01,0,False,False,False,50730.0
83,83,2017-04-03T14:18:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:18,04,0.0,858,14,2017-04-03 14:18:01,0,False,False,False,50730.0
84,84,2017-04-03T14:19:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:19,04,0.0,859,14,2017-04-03 14:19:01,0,False,False,False,50730.0
85,85,2017-04-03T14:20:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:20,04,0.0,860,14,2017-04-03 14:20:01,0,False,False,False,50730.0
86,86,2017-04-03T14:21:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:21,04,0.0,861,14,2017-04-03 14:21:01,0,False,False,False,50730.0
87,87,2017-04-03T14:22:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:22,04,0.0,862,14,2017-04-03 14:22:01,0,False,False,False,50730.0
88,88,2017-04-03T14:24:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:24,04,0.0,864,14,2017-04-03 14:24:01,0,False,False,False,50730.0
89,89,2017-04-03T14:25:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,14:25,04,0.0,865,14,2017-04-03 14:25:01,0,False,False,False,50730.0
90,90,2017-04-03T14:26:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:26,04,0.0,866,14,2017-04-03 14:26:01,0,False,False,False,50730.0
91,91,2017-04-03T14:27:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:27,04,0.0,867,14,2017-04-03 14:27:01,0,False,False,False,50730.0
92,92,2017-04-03T14:28:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:28,04,0.0,868,14,2017-04-03 14:28:01,0,False,False,False,50730.0
93,93,2017-04-03T14:29:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:29,04,0.0,869,14,2017-04-03 14:29:01,0,False,False,False,50730.0
94,94,2017-04-03T14:30:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:30,04,0.0,870,14,2017-04-03 14:30:01,0,False,False,False,50730.0
95,95,2017-04-03T14:31:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:31,04,0.0,871,14,2017-04-03 14:31:01,0,False,False,False,50730.0
96,96,2017-04-03T14:32:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:32,04,0.0,872,14,2017-04-03 14:32:01,0,False,False,False,50730.0
97,97,2017-04-03T14:33:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:33,04,0.0,873,14,2017-04-03 14:33:01,0,False,False,False,50730.0
98,98,2017-04-03T14:45:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,14:45,04,0.0,885,14,2017-04-03 14:45:01,0,False,False,False,50730.0
99,99,2017-04-04T02:50:01,60.202791,24.966613,1,137,Arabian kauppakeskus,0,1,02:50,04,0.0,170,02,2017-04-04 02:50:01,1,False,False,False,50730.0

### Add idle time for each station

In [98]:
i = 0
idle_for = 0
idle_for_as_date = 0
while (i < len(df)):
    row = df.iloc[i]
    previous_row = df.iloc[(i-1 if i > 0 else 0)]
    if (not row['bikes'] == previous_row['bikes']):
        idle_for = 0
        idle_for_as_date = 0
        df.loc[i, 'idle_for'] = idle_for
        df.loc[i, 'idle_for_as_date'] = idle_for_as_date        
        i+= 1
        continue
#     time_now = row['minutes_from_midnight']
#     time_last = previous_row['minutes_from_midnight']
#     idle_for += abs(time_now - time_last)
#     df.loc[i, 'idle_for'] = idle_for
    # add time using a date object (more accurate if wait for more than 24h)
    date_time_now = row['date']
    date_time_last = previous_row['date']
    secs = (date_time_now - date_time_last).total_seconds()
    idle_for_as_date += abs(secs / 60)
    df.loc[i, 'idle_for_as_date'] = idle_for_as_date
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for
0,0,2017-03-29T08:26:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:26,...,506,08,2017-03-29 08:26:01,2,False,False,False,50730.0,0.000000,-1.0
1,1,2017-03-29T08:27:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:27,...,507,08,2017-03-29 08:27:01,2,False,False,False,50730.0,1.000000,-1.0
2,2,2017-03-29T08:28:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:28,...,508,08,2017-03-29 08:28:01,2,False,False,False,50730.0,2.000000,-1.0
3,3,2017-03-29T08:29:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:29,...,509,08,2017-03-29 08:29:01,2,False,False,False,50730.0,3.000000,-1.0
4,4,2017-03-29T08:30:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:30,...,510,08,2017-03-29 08:30:01,2,False,False,False,50730.0,4.000000,-1.0
5,5,2017-03-29T08:31:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:31,...,511,08,2017-03-29 08:31:01,2,False,False,False,50730.0,5.000000,-1.0
6,6,2017-03-29T08:32:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:32,...,512,08,2017-03-29 08:32:01,2,False,False,False,50730.0,6.000000,-1.0
7,7,2017-03-29T08:33:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:33,...,513,08,2017-03-29 08:33:01,2,False,False,False,50730.0,7.000000,-1.0
8,8,2017-03-29T08:34:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:34,...,514,08,2017-03-29 08:34:01,2,False,False,False,50730.0,8.000000,-1.0
9,9,2017-03-29T08:35:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:35,...,515,08,2017-03-29 08:35:01,2,False,False,False,50730.0,9.000000,-1.0
10,10,2017-03-29T08:36:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:36,...,516,08,2017-03-29 08:36:01,2,False,False,False,50730.0,10.000000,-1.0
11,11,2017-03-29T08:37:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:37,...,517,08,2017-03-29 08:37:02,2,False,False,False,50730.0,11.016667,-1.0
12,12,2017-03-29T08:38:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:38,...,518,08,2017-03-29 08:38:01,2,False,False,False,50730.0,12.000000,-1.0
13,13,2017-03-29T08:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:39,...,519,08,2017-03-29 08:39:01,2,False,False,False,50730.0,13.000000,-1.0
14,14,2017-03-29T08:40:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:40,...,520,08,2017-03-29 08:40:01,2,False,False,False,50730.0,14.000000,-1.0
15,15,2017-03-29T08:41:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:41,...,521,08,2017-03-29 08:41:01,2,False,False,False,50730.0,15.000000,-1.0
16,16,2017-03-29T08:42:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:42,...,522,08,2017-03-29 08:42:01,2,False,False,False,50730.0,16.000000,-1.0
17,17,2017-03-29T08:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:43,...,523,08,2017-03-29 08:43:01,2,False,False,False,50730.0,17.000000,-1.0
18,18,2017-03-29T08:44:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:44,...,524,08,2017-03-29 08:44:01,2,False,False,False,50730.0,18.000000,-1.0
19,19,2017-03-29T08:46:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:46,...,526,08,2017-03-29 08:46:01,2,False,False,False,50730.0,20.000000,-1.0
20,20,2017-03-29T08:47:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:47,...,527,08,2017-03-29 08:47:01,2,False,False,False,50730.0,21.000000,-1.0
21,21,2017-03-29T08:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:48,...,528,08,2017-03-29 08:48:01,2,False,False,False,50730.0,22.000000,-1.0
22,22,2017-03-29T08:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:49,...,529,08,2017-03-29 08:49:01,2,False,False,False,50730.0,23.000000,-1.0
23,23,2017-03-29T08:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:50,...,530,08,2017-03-29 08:50:01,2,False,False,False,50730.0,24.000000,-1.0
24,24,2017-03-29T08:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:51,...,531,08,2017-03-29 08:51:01,2,False,False,False,50730.0,25.000000,-1.0
25,25,2017-03-29T08:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:52,...,532,08,2017-03-29 08:52:01,2,False,False,False,50730.0,26.000000,-1.0
26,26,2017-03-29T08:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:53,...,533,08,2017-03-29 08:53:01,2,False,False,False,50730.0,27.000000,-1.0
27,27,2017-03-29T08:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:54,...,534,08,2017-03-29 08:54:01,2,False,False,False,50730.0,28.000000,-1.0
28,28,2017-03-29T08:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:55,...,535,08,2017-03-29 08:55:01,2,False,False,False,50730.0,29.000000,-1.0
29,29,2017-03-29T08:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:56,...,536,08,2017-03-29 08:56:01,2,False,False,False,50730.0,30.000000,-1.0
30,30,2017-03-29T08:57:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:57,...,537,08,2017-03-29 08:57:01,2,False,False,False,50730.0,31.000000,-1.0
31,31,2017-03-29T08:58:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:58,...,538,08,2017-03-29 08:58:02,2,False,False,False,50730.0,32.016667,-1.0
32,32,2017-03-29T08:59:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:59,...,539,08,2017-03-29 08:59:01,2,False,False,False,50730.0,33.000000,-1.0
33,33,2017-03-29T09:00:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,09:00,...,540,09,2017-03-29 09:00:01,2,False,False,False,50730.0,34.000000,-1.0
34,34,2017-04-02T02:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,02:43,...,163,02,2017-04-02 02:43:01,6,True,False,False,50730.0,5417.000000,-1.0
35,35,2017-04-03T03:24:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,03:24,...,204,03,2017-04-03 03:24:01,0,False,False,False,50730.0,6898.000000,-1.0
36,36,2017-04-03T11:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:39,...,699,11,2017-04-03 11:39:01,0,False,False,False,50730.0,7393.000000,-1.0
37,37,2017-04-03T11:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:50,...,710,11,2017-04-03 11:50:01,0,False,False,False,50730.0,7404.000000,-1.0
38,38,2017-04-03T11:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:55,...,715,11,2017-04-03 11:55:01,0,False,False,False,50730.0,7409.000000,-1.0
39,39,2017-04-03T12:52:00,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:52,...,772,12,2017-04-03 12:52:00,0,False,False,False,50730.0,7465.983333,-1.0
40,40,2017-04-03T12:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:53,...,773,12,2017-04-03 12:53:01,0,False,False,False,50730.0,7467.000000,-1.0
41,41,2017-04-03T12:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:54,...,774,12,2017-04-03 12:54:01,0,False,False,False,50730.0,7468.000000,-1.0
42,42,2017-04-03T12:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:55,...,775,12,2017-04-03 12:55:01,0,False,False,False,50730.0,7469.000000,-1.0
43,43,2017-04-03T12:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:56,...,776,12,2017-04-03 12:56:01,0,False,False,False,50730.0,7470.000000,-1.0
44,44,2017-04-03T12:57:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:57,...,777,12,2017-04-03 12:57:01,0,False,False,False,50730.0,7471.000000,-1.0
45,45,2017-04-03T12:58:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:58,...,778,12,2017-04-03 12:58:01,0,False,False,False,50730.0,7472.000000,-1.0
46,46,2017-04-03T12:59:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:59,...,779,12,2017-04-03 12:59:01,0,False,False,False,50730.0,7473.000000,-1.0
47,47,2017-04-03T13:00:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:00,...,780,13,2017-04-03 13:00:01,0,False,False,False,50730.0,7474.000000,-1.0
48,48,2017-04-03T13:01:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:01,...,781,13,2017-04-03 13:01:01,0,False,False,False,50730.0,7475.000000,-1.0
49,49,2017-04-03T13:04:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:04,...,784,13,2017-04-03 13:04:01,0,False,False,False,50730.0,7478.000000,-1.0

In [99]:
df.describe()

,index,lat,lon,operative,bikes,total_slots,bikes_percent,minutes_from_midnight,weekday,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for
count,320175.000000,3.201750e+05,3.201750e+05,320175.0,320175.000000,320175.000000,320175.000000,320175.000000,320175.000000,320175.000000,320175.000000,320175.000000
mean,160434.329557,6.020279e+01,2.496661e+01,1.0,15.385645,21.643130,0.706714,738.822406,3.019689,1126.679173,95.410123,-0.883842
std,93025.705319,5.069091e-10,2.354387e-11,0.0,9.221420,4.787947,0.387949,391.821543,1.980844,16219.981090,2609.043310,0.320415
min,0.000000,6.020279e+01,2.496661e+01,1.0,0.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000
25%,80043.500000,6.020279e+01,2.496661e+01,1.0,9.000000,24.000000,0.416667,412.000000,1.000000,16.000000,2.000000,-1.000000
50%,160087.000000,6.020279e+01,2.496661e+01,1.0,15.000000,24.000000,0.666667,741.000000,3.000000,39.000000,8.000000,-1.000000
75%,240130.500000,6.020279e+01,2.496661e+01,1.0,21.000000,24.000000,0.916667,1071.000000,5.000000,115.000000,26.000000,-1.000000
max,335087.000000,6.020279e+01,2.496661e+01,1.0,55.000000,24.000000,2.291667,1439.000000,6.000000,275737.000000,202986.000000,0.000000

### Add time for next bike take

Predict how much time for the next bike to be taken: max waiting time is not useful here.

In [109]:
i = 0
first_non_removing_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_removed'] == False):
        i += 1
    if (i >= len(df)):
        break
    removing_row = df.iloc[i]
#     time = removing_row['minutes_from_midnight']
#     times_until_now = df.loc[first_non_removing_index:i-1, 'minutes_from_midnight']
#     difference = abs(time - times_until_now)
#     df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'wait_for_bike_taken'] = difference 
    # add time using a date object (more accurate if wait for more than 24h)
    date_time = removing_row['date']
    date_times_until_now = df.loc[first_non_removing_index:i-1, 'date']
    date_difference = abs((date_time - date_times_until_now).apply(lambda x: x.total_seconds() / 60))
    df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'wait_for_bike_taken_as_date'] = date_difference 
    first_non_removing_index = i
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for,wait_for_bike_taken_as_date
0,0,2017-03-29T08:26:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:26,...,08,2017-03-29 08:26:01,2,False,False,False,50730.0,0.000000,-1.0,50737.000000
1,1,2017-03-29T08:27:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:27,...,08,2017-03-29 08:27:01,2,False,False,False,50730.0,1.000000,-1.0,50736.000000
2,2,2017-03-29T08:28:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:28,...,08,2017-03-29 08:28:01,2,False,False,False,50730.0,2.000000,-1.0,50735.000000
3,3,2017-03-29T08:29:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:29,...,08,2017-03-29 08:29:01,2,False,False,False,50730.0,3.000000,-1.0,50734.000000
4,4,2017-03-29T08:30:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:30,...,08,2017-03-29 08:30:01,2,False,False,False,50730.0,4.000000,-1.0,50733.000000
5,5,2017-03-29T08:31:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:31,...,08,2017-03-29 08:31:01,2,False,False,False,50730.0,5.000000,-1.0,50732.000000
6,6,2017-03-29T08:32:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:32,...,08,2017-03-29 08:32:01,2,False,False,False,50730.0,6.000000,-1.0,50731.000000
7,7,2017-03-29T08:33:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:33,...,08,2017-03-29 08:33:01,2,False,False,False,50730.0,7.000000,-1.0,50730.000000
8,8,2017-03-29T08:34:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:34,...,08,2017-03-29 08:34:01,2,False,False,False,50730.0,8.000000,-1.0,50729.000000
9,9,2017-03-29T08:35:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:35,...,08,2017-03-29 08:35:01,2,False,False,False,50730.0,9.000000,-1.0,50728.000000
10,10,2017-03-29T08:36:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:36,...,08,2017-03-29 08:36:01,2,False,False,False,50730.0,10.000000,-1.0,50727.000000
11,11,2017-03-29T08:37:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:37,...,08,2017-03-29 08:37:02,2,False,False,False,50730.0,11.016667,-1.0,50725.983333
12,12,2017-03-29T08:38:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:38,...,08,2017-03-29 08:38:01,2,False,False,False,50730.0,12.000000,-1.0,50725.000000
13,13,2017-03-29T08:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:39,...,08,2017-03-29 08:39:01,2,False,False,False,50730.0,13.000000,-1.0,50724.000000
14,14,2017-03-29T08:40:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:40,...,08,2017-03-29 08:40:01,2,False,False,False,50730.0,14.000000,-1.0,50723.000000
15,15,2017-03-29T08:41:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:41,...,08,2017-03-29 08:41:01,2,False,False,False,50730.0,15.000000,-1.0,50722.000000
16,16,2017-03-29T08:42:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:42,...,08,2017-03-29 08:42:01,2,False,False,False,50730.0,16.000000,-1.0,50721.000000
17,17,2017-03-29T08:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:43,...,08,2017-03-29 08:43:01,2,False,False,False,50730.0,17.000000,-1.0,50720.000000
18,18,2017-03-29T08:44:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:44,...,08,2017-03-29 08:44:01,2,False,False,False,50730.0,18.000000,-1.0,50719.000000
19,19,2017-03-29T08:46:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:46,...,08,2017-03-29 08:46:01,2,False,False,False,50730.0,20.000000,-1.0,50717.000000
20,20,2017-03-29T08:47:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:47,...,08,2017-03-29 08:47:01,2,False,False,False,50730.0,21.000000,-1.0,50716.000000
21,21,2017-03-29T08:48:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:48,...,08,2017-03-29 08:48:01,2,False,False,False,50730.0,22.000000,-1.0,50715.000000
22,22,2017-03-29T08:49:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:49,...,08,2017-03-29 08:49:01,2,False,False,False,50730.0,23.000000,-1.0,50714.000000
23,23,2017-03-29T08:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:50,...,08,2017-03-29 08:50:01,2,False,False,False,50730.0,24.000000,-1.0,50713.000000
24,24,2017-03-29T08:51:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:51,...,08,2017-03-29 08:51:01,2,False,False,False,50730.0,25.000000,-1.0,50712.000000
25,25,2017-03-29T08:52:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:52,...,08,2017-03-29 08:52:01,2,False,False,False,50730.0,26.000000,-1.0,50711.000000
26,26,2017-03-29T08:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:53,...,08,2017-03-29 08:53:01,2,False,False,False,50730.0,27.000000,-1.0,50710.000000
27,27,2017-03-29T08:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:54,...,08,2017-03-29 08:54:01,2,False,False,False,50730.0,28.000000,-1.0,50709.000000
28,28,2017-03-29T08:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:55,...,08,2017-03-29 08:55:01,2,False,False,False,50730.0,29.000000,-1.0,50708.000000
29,29,2017-03-29T08:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:56,...,08,2017-03-29 08:56:01,2,False,False,False,50730.0,30.000000,-1.0,50707.000000
30,30,2017-03-29T08:57:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:57,...,08,2017-03-29 08:57:01,2,False,False,False,50730.0,31.000000,-1.0,50706.000000
31,31,2017-03-29T08:58:02,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:58,...,08,2017-03-29 08:58:02,2,False,False,False,50730.0,32.016667,-1.0,50704.983333
32,32,2017-03-29T08:59:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,08:59,...,08,2017-03-29 08:59:01,2,False,False,False,50730.0,33.000000,-1.0,50704.000000
33,33,2017-03-29T09:00:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,09:00,...,09,2017-03-29 09:00:01,2,False,False,False,50730.0,34.000000,-1.0,50703.000000
34,34,2017-04-02T02:43:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,02:43,...,02,2017-04-02 02:43:01,6,True,False,False,50730.0,5417.000000,-1.0,45320.000000
35,35,2017-04-03T03:24:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,03:24,...,03,2017-04-03 03:24:01,0,False,False,False,50730.0,6898.000000,-1.0,43839.000000
36,36,2017-04-03T11:39:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:39,...,11,2017-04-03 11:39:01,0,False,False,False,50730.0,7393.000000,-1.0,43344.000000
37,37,2017-04-03T11:50:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:50,...,11,2017-04-03 11:50:01,0,False,False,False,50730.0,7404.000000,-1.0,43333.000000
38,38,2017-04-03T11:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,11:55,...,11,2017-04-03 11:55:01,0,False,False,False,50730.0,7409.000000,-1.0,43328.000000
39,39,2017-04-03T12:52:00,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:52,...,12,2017-04-03 12:52:00,0,False,False,False,50730.0,7465.983333,-1.0,43271.016667
40,40,2017-04-03T12:53:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:53,...,12,2017-04-03 12:53:01,0,False,False,False,50730.0,7467.000000,-1.0,43270.000000
41,41,2017-04-03T12:54:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:54,...,12,2017-04-03 12:54:01,0,False,False,False,50730.0,7468.000000,-1.0,43269.000000
42,42,2017-04-03T12:55:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:55,...,12,2017-04-03 12:55:01,0,False,False,False,50730.0,7469.000000,-1.0,43268.000000
43,43,2017-04-03T12:56:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:56,...,12,2017-04-03 12:56:01,0,False,False,False,50730.0,7470.000000,-1.0,43267.000000
44,44,2017-04-03T12:57:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:57,...,12,2017-04-03 12:57:01,0,False,False,False,50730.0,7471.000000,-1.0,43266.000000
45,45,2017-04-03T12:58:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:58,...,12,2017-04-03 12:58:01,0,False,False,False,50730.0,7472.000000,-1.0,43265.000000
46,46,2017-04-03T12:59:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,12:59,...,12,2017-04-03 12:59:01,0,False,False,False,50730.0,7473.000000,-1.0,43264.000000
47,47,2017-04-03T13:00:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:00,...,13,2017-04-03 13:00:01,0,False,False,False,50730.0,7474.000000,-1.0,43263.000000
48,48,2017-04-03T13:01:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:01,...,13,2017-04-03 13:01:01,0,False,False,False,50730.0,7475.000000,-1.0,43262.000000
49,49,2017-04-03T13:04:01,60.202791,24.966613,1,D21,Arabian kauppakeskus,0,1,13:04,...,13,2017-04-03 13:04:01,0,False,False,False,50730.0,7478.000000,-1.0,43259.000000

In [101]:
max_wait_counts = df['max_wait_for_new_bike_as_date'].value_counts()
wait_counts = df['wait_for_bike_taken_as_date'].value_counts()
print(max_wait_counts)
print(wait_counts)

 12.000000     5701
 8.000000      5689
 14.000000     5573
 13.000000     5481
 7.000000      5426
 6.000000      5396
 9.000000      5380
 10.000000     5377
 5.000000      5208
 15.000000     5080
 4.000000      5022
 11.000000     5012
 16.000000     5010
 17.000000     4966
 20.000000     4537
 18.000000     4419
 19.000000     4356
 3.000000      4203
 22.000000     4130
 24.000000     3917
 25.000000     3799
 21.000000     3798
 27.000000     3633
 26.000000     3614
 23.000000     3396
 30.000000     3363
 31.000000     3332
 29.000000     3167
 28.000000     3060
 2.000000      3014
               ...
 44.016667       44
 21.983333       44
 21.016667       42
 42.016667       42
 39.983333       40
 40.933333       40
 40.016667       39
 37.983333       38
 36.983333       37
 35.983333       36
 1.016667        36
 0.983333        36
 17.983333       36
 34.983333       35
 35.016667       35
 16.983333       34
 32.983333       33
 16.016667       32
 30.016667       30
 28.016667       28
 27.983333       28
 25.983333       26
 67.983333       23
 22.566667       22
 19.016667       19
 317.000000      14
-1.000000         5
 2.700000         3
 1.883333         2
 0.866667         1
Name: max_wait_for_new_bike_as_date, Length: 471, dtype: int64
1.000000        17762
2.000000        15352
3.000000        13617
4.000000        12282
5.000000        11221
6.000000        10259
7.000000         9456
8.000000         8671
9.000000         8002
10.000000        7410
11.000000        6894
12.000000        6392
13.000000        5941
14.000000        5584
15.000000        5193
16.000000        4880
17.000000        4577
18.000000        4304
19.000000        4075
20.000000        3775
21.000000        3559
22.000000        3393
23.000000        3205
24.000000        3056
25.000000        2892
26.000000        2757
27.000000        2642
28.000000        2494
29.000000        2350
30.000000        2243
                ...
5886.000000         1
5887.000000         1
5889.000000         1
243.983333          1
5920.000000         1
444.016667          1
5897.000000         1
5898.000000         1
5899.000000         1
5900.000000         1
554.983333          1
5901.000000         1
5905.000000         1
5906.000000         1
5907.000000         1
5908.000000         1
5909.000000         1
5910.000000         1
5911.000000         1
442.983333          1
445.016667          1
5913.000000         1
5914.000000         1
5915.000000         1
5916.000000         1
5917.000000         1
5918.000000         1
23674.000000        1
5919.000000         1
253.983333          1
Name: wait_for_bike_taken_as_date, Length: 3028, dtype: int64

## Remove useless or codependent columns

In [102]:
store_df = df
cleaned_df = df.drop(columns=['index', 'ts', 'sid', 'hour_and_minutes', 'name', 'bike_added', 'bike_removed', 'lat', 'lon', 'bikes', 'total_slots', 'date'])
filterable_max_waits = max_wait_counts[max_wait_counts < 10].index
filterable_waits = wait_counts[wait_counts < 10].index
cleaned_df = cleaned_df[~cleaned_df['max_wait_for_new_bike_as_date'].isin(filterable_max_waits)]
cleaned_df = cleaned_df[~cleaned_df['wait_for_bike_taken_as_date'].isin(filterable_waits)]
print('removed', len(df) + len(cleaned_df), 'rows')
print('using columns', cleaned_df.columns.values)

removed 636554 rows
using columns ['operative' 'month' 'bikes_percent' 'minutes_from_midnight' 'hour'
 'weekday' 'weekend' 'max_wait_for_new_bike_as_date' 'idle_for_as_date'
 'idle_for' 'wait_for_bike_taken_as_date']

## Add classes for prediciton

In [103]:
def define_class(x):
    if x < 5:
        return 0
    if x < 100:
        return 1
    return 2

cleaned_df['max_wait_for_new_bike_class'] = cleaned_df['max_wait_for_new_bike_as_date'].apply(define_class)
cleaned_df['max_wait_for_bike_taken_class'] = cleaned_df['wait_for_bike_taken_as_date'].apply(define_class)
print('value count of classes in wait for next bike taken:')
print(cleaned_df['max_wait_for_bike_taken_class'].value_counts())
print()
print('value count of classes in max wait for new bike')
print(cleaned_df['max_wait_for_new_bike_class'].value_counts())

value count of classes in wait for next bike taken:
1    202194
0     61203
2     52982
Name: max_wait_for_bike_taken_class, dtype: int64

value count of classes in max wait for new bike
1    216182
2     85356
0     14841
Name: max_wait_for_new_bike_class, dtype: int64

## Define training and test sets

In [104]:
# drop the columns we would not know in a real situation, as well as the column to be predicted
X = cleaned_df.drop(columns=['max_wait_for_new_bike_class', 'max_wait_for_new_bike_as_date', 'wait_for_bike_taken_as_date']).as_matrix()
y = cleaned_df['max_wait_for_bike_taken_class'].as_matrix()
# set 
train_size = int(len(X)*0.8)

# define the training and test sets
X_train = torch.from_numpy(np.asarray(X[:train_size].astype('float')))
# take transpose to get right dimensions for torch
y_train = torch.from_numpy(np.asarray([y[:train_size]]).astype('float').T)
X_test = torch.from_numpy(np.asarray(X[train_size:].astype('float')))
y_test = torch.from_numpy(np.asarray([y[train_size:]]).astype('float').T)
# combine input and labels
train_data = torch.cat((X_train, y_train), 1)
test_data = torch.cat((X_test, y_test), 1)

# sanity check
assert len(X) == len(X_train) + len(X_test)

## Define a simple neural network

In [134]:
class Net(nn.Module):
    def __init__(self, in_neurons=10, out_neurons=3, nr_layers=1, nr_neurons=10):
        super(Net, self).__init__()
        self.layers = nn.ModuleList()
        for i in range(nr_layers):
            self.layers.append(nn.Linear(in_neurons, nr_neurons))
            in_neurons = nr_neurons
        self.output_layer = nn.Linear(in_neurons, out_neurons)

    def forward(self, x):
        for layer in self.layers:
            x = layer(x)
            x = funcs.relu(x)
        return self.output_layer(x)

## Define loss function

In [106]:
loss_func = torch.nn.CrossEntropyLoss()

## Define training loop

In [130]:
net = Net().double()
optimizer = torch.optim.Adam(net.parameters(), lr=0.05)
data_len = len(train_data)
batch_size = 250
epochs = 50
for epoch in range(epochs):
    # shuffle the data
    indices = torch.randperm(data_len)
    # train the data in batches
    for i in range(0, data_len, batch_size):
        batch_indices = indices[i: i+ batch_size]
        data = train_data[batch_indices]
        # assume that last cell in array is label
        inp, label = data[:, :data.shape[1]-1], data[:, data.shape[1]-1]
        # torch has to be fed variables
        input_var = Variable(inp)
        label_var = Variable(label.long())
        # reset parameters after each training round
        optimizer.zero_grad()
        # actual forward pass
        outputs = net(input_var)
        # calculate loss
        loss = loss_func(outputs, label_var)
        loss.backward()
        optimizer.step()
    if epoch % 10 == 0:
        print('e:', epoch)
        print('loss', loss.item())
        print('--')

print('training done with a training set of length', len(train_data))

e: 0
loss 0.9659995593325107
--
e: 10
loss 0.9050406739159506
--
e: 20
loss 0.8991931131788318
--
e: 30
loss 0.9182867547258734
--
e: 40
loss 0.8643191567236812
--
training done with a training set of length 253103

## Evaluate with test set

In [133]:
total_loss = 0
inp, label = test_data[:, :test_data.shape[1]-1], test_data[:, test_data.shape[1]-1]
test_input_var = Variable(inp)
test_label_var = Variable(label.long())
test_outputs = net(test_input_var)
# just print out the loss for now
test_loss = loss_func(test_outputs, test_label_var)
# this is basically just to see whether the net always predicted the same thing
total_loss = test_loss.item()
probs = funcs.softmax(test_outputs, dim=1)
predictions = torch.round(funcs.softmax(test_outputs, dim=1))
i = 0
for true, pred in zip(test_label_var.data, funcs.softmax(test_outputs, dim=1).data):
    if i == 100:
        break
    print(true, pred)
    i += 1

tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(0) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)
tensor(1) tensor([ 0.1771,  0.6490,  0.1738], dtype=torch.float64)