In [4]:
import torch
from torch import nn
from torch.autograd import Variable
import pandas as pd
import dateutil
import datetime
from sklearn.model_selection import train_test_split
import numpy as np
import torch.nn.functional as funcs

In [5]:
# 68,335,729 data points in total
import random
p = 0.0001  # 0.01% of the lines -> 6800 data points
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
"""
df = pd.read_csv(
         'data/all_events.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)
"""
# df = pd.read_csv('../data/Kiasma_sorted.csv', nrows=500000, low_memory=False)
# df = pd.read_csv('../data/Rautatientoriit√§_sorted.csv', low_memory=False)
# df = pd.read_csv('../data/AaltoyliopistoMKorkeakouluaukio_sorted.csv', low_memory=False)
# df = pd.read_csv('../data/Arabiankauppakeskus_sorted.csv', low_memory=False)
df = pd.read_csv('../data/all_events.csv', nrows=2000000, low_memory=False)

## Drop duplicated based on timestamp

In [6]:
df = df.drop_duplicates('ts').reset_index()

In [7]:
df.shape

(42058, 9)

## Add some useful columns

In [8]:
# sort based on timestamp
df = df.sort_values('ts')
# the hour and minutes of the timestamp
df['hour_and_minutes'] = df['ts'].apply(lambda x: x[11:16])
# month of timestamp
df['month'] = df['ts'].apply(lambda x: x[5:7])
# the percentage of bikes
df['bikes_percent'] = df['bikes'] / df['total_slots']
df['minutes_from_midnight'] = df['ts'].apply(lambda x: int(x[11:13]) * 60 + int(x[14:16]))
df['hour'] = df['hour_and_minutes'].apply(lambda x: x[:2])
df['date'] = df['ts'].apply(pd.to_datetime)
df['weekday'] = df['date'].apply(lambda x: x.weekday())
df['weekend'] = df['weekday'].apply(lambda x: x > 4)
df.head()

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend
34966,1654489,2016-04-26T14:13:26,60.173099,24.949636,1,A21,Varsapuistikko,0,28,14:13,04,0.0,853,14,2016-04-26 14:13:26,1,False
34994,1654931,2016-04-26T17:27:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:27,04,0.0,1047,17,2016-04-26 17:27:01,1,False
34993,1654928,2016-04-26T17:28:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:28,04,0.0,1048,17,2016-04-26 17:28:01,1,False
35016,1655257,2016-04-26T17:29:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:29,04,0.0,1049,17,2016-04-26 17:29:01,1,False
34960,1654420,2016-04-26T17:30:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:30,04,0.0,1050,17,2016-04-26 17:30:01,1,False

## Prepare for predictions

### Add column which states whether a bike was added at a given moment

In [9]:
df['bike_added'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] < x['bikes'] , axis=1)
df['bike_removed'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] > x['bikes'] , axis=1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed
34966,1654489,2016-04-26T14:13:26,60.173099,24.949636,1,A21,Varsapuistikko,0,28,14:13,04,0.000000,853,14,2016-04-26 14:13:26,1,False,False,True
34994,1654931,2016-04-26T17:27:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:27,04,0.000000,1047,17,2016-04-26 17:27:01,1,False,False,True
34993,1654928,2016-04-26T17:28:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:28,04,0.000000,1048,17,2016-04-26 17:28:01,1,False,False,True
35016,1655257,2016-04-26T17:29:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:29,04,0.000000,1049,17,2016-04-26 17:29:01,1,False,False,True
34960,1654420,2016-04-26T17:30:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:30,04,0.000000,1050,17,2016-04-26 17:30:01,1,False,False,True
34982,1654758,2016-04-26T17:41:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:41,04,0.000000,1061,17,2016-04-26 17:41:01,1,False,False,True
34961,1654423,2016-04-26T17:45:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:45,04,0.000000,1065,17,2016-04-26 17:45:01,1,False,False,True
34988,1654862,2016-04-26T17:47:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:47,04,0.000000,1067,17,2016-04-26 17:47:01,1,False,False,True
35019,1655296,2016-04-26T17:48:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:48,04,0.000000,1068,17,2016-04-26 17:48:01,1,False,False,True
35010,1655152,2016-04-27T07:21:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,07:21,04,0.000000,441,07,2016-04-27 07:21:01,2,False,False,True
34976,1654680,2016-04-28T05:05:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:05,04,0.000000,305,05,2016-04-28 05:05:01,3,False,False,True
34990,1654879,2016-04-28T05:06:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:06,04,0.000000,306,05,2016-04-28 05:06:01,3,False,False,True
34981,1654752,2016-04-28T05:07:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:07,04,0.000000,307,05,2016-04-28 05:07:01,3,False,False,True
35001,1655041,2016-04-28T05:08:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:08,04,0.000000,308,05,2016-04-28 05:08:01,3,False,False,True
35006,1655097,2016-04-28T05:09:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:09,04,0.000000,309,05,2016-04-28 05:09:01,3,False,False,True
35023,1655358,2016-04-28T08:39:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:39,04,0.000000,519,08,2016-04-28 08:39:01,3,False,False,True
34986,1654835,2016-04-28T08:40:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:40,04,0.000000,520,08,2016-04-28 08:40:01,3,False,False,True
35002,1655049,2016-04-28T09:22:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:22,04,0.000000,562,09,2016-04-28 09:22:01,3,False,False,True
34998,1654972,2016-04-28T09:56:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:56,04,0.000000,596,09,2016-04-28 09:56:01,3,False,False,True
34980,1654740,2016-04-28T10:15:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:15,04,0.000000,615,10,2016-04-28 10:15:01,3,False,False,True
34972,1654598,2016-04-28T10:29:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:29,04,0.000000,629,10,2016-04-28 10:29:01,3,False,False,True
34964,1654464,2016-04-28T10:34:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:34,04,0.000000,634,10,2016-04-28 10:34:01,3,False,False,True
34997,1654960,2016-04-28T10:35:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:35,04,0.000000,635,10,2016-04-28 10:35:01,3,False,False,True
35004,1655073,2016-04-28T10:36:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:36,04,0.000000,636,10,2016-04-28 10:36:01,3,False,False,True
35011,1655155,2016-04-28T10:37:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:37,04,0.000000,637,10,2016-04-28 10:37:01,3,False,False,True
35007,1655106,2016-04-28T10:38:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:38,04,0.000000,638,10,2016-04-28 10:38:01,3,False,False,True
34978,1654716,2016-04-28T10:42:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:42,04,0.000000,642,10,2016-04-28 10:42:01,3,False,False,True
34979,1654728,2016-04-28T10:43:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:43,04,0.000000,643,10,2016-04-28 10:43:01,3,False,False,True
35005,1655085,2016-04-28T10:44:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:44,04,0.000000,644,10,2016-04-28 10:44:01,3,False,False,True
34967,1654492,2016-04-28T10:48:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:48,04,0.000000,648,10,2016-04-28 10:48:01,3,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,67516,2016-07-01T00:19:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:19,07,0.266667,19,00,2016-07-01 00:19:01,4,False,False,True
31472,1489367,2016-07-01T00:20:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:20,07,0.266667,20,00,2016-07-01 00:20:01,4,False,False,True
19194,908237,2016-07-01T00:21:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:21,07,0.266667,21,00,2016-07-01 00:21:01,4,False,False,True
21469,1015952,2016-07-01T00:22:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:22,07,0.266667,22,00,2016-07-01 00:22:01,4,False,False,True
19566,925850,2016-07-01T00:23:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:23,07,0.266667,23,00,2016-07-01 00:23:01,4,False,False,True
7993,378168,2016-07-01T00:24:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:24,07,0.266667,24,00,2016-07-01 00:24:01,4,False,False,True
32649,1545046,2016-07-01T00:30:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:30,07,0.266667,30,00,2016-07-01 00:30:01,4,False,False,True
26642,1260794,2016-07-01T00:31:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:31,07,0.266667,31,00,2016-07-01 00:31:01,4,False,False,True
8956,423751,2016-07-01T00:47:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:47,07,0.266667,47,00,2016-07-01 00:47:01,4,False,False,True
26670,1262115,2016-07-01T00:51:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:51,07,0.266667,51,00,2016-07-01 00:51:01,4,False,False,True
5380,254552,2016-07-01T00:52:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:52,07,0.266667,52,00,2016-07-01 00:52:01,4,False,False,True
21490,1016948,2016-07-01T00:57:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:57,07,0.266667,57,00,2016-07-01 00:57:01,4,False,False,True
3382,160003,2016-07-01T01:02:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:02,07,0.266667,62,01,2016-07-01 01:02:01,4,False,False,True
27366,1295048,2016-07-01T01:05:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:05,07,0.266667,65,01,2016-07-01 01:05:01,4,False,False,True
8120,384187,2016-07-01T01:11:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:11,07,0.266667,71,01,2016-07-01 01:11:01,4,False,False,True
8844,418446,2016-07-01T01:22:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:22,07,0.266667,82,01,2016-07-01 01:22:01,4,False,False,True
12358,584714,2016-07-01T01:24:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:24,07,0.266667,84,01,2016-07-01 01:24:01,4,False,False,True
22770,1077536,2016-07-01T01:26:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:26,07,0.266667,86,01,2016-07-01 01:26:01,4,False,False,True
25294,1196995,2016-07-01T01:27:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:27,07,0.266667,87,01,2016-07-01 01:27:01,4,False,False,True
10707,506614,2016-07-01T01:31:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:31,07,0.266667,91,01,2016-07-01 01:31:01,4,False,False,True
20269,959134,2016-07-01T01:35:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:35,07,0.266667,95,01,2016-07-01 01:35:01,4,False,False,True
13465,637110,2016-07-01T01:37:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:37,07,0.266667,97,01,2016-07-01 01:37:01,4,False,False,True
3082,145820,2016-07-01T01:39:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:39,07,0.266667,99,01,2016-07-01 01:39:01,4,False,False,True
7754,366866,2016-07-01T01:41:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:41,07,0.266667,101,01,2016-07-01 01:41:01,4,False,False,True
28423,1345071,2016-07-01T01:42:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:42,07,0.266667,102,01,2016-07-01 01:42:01,4,False,False,True
24189,1144677,2016-07-01T01:44:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:44,07,0.266667,104,01,2016-07-01 01:44:01,4,False,True,False
22458,1062772,2016-07-01T01:50:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:50,07,0.266667,110,01,2016-07-01 01:50:01,4,False,False,True
7078,334871,2016-07-01T01:51:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:51,07,0.266667,111,01,2016-07-01 01:51:01,4,False,False,True
1076,50915,2016-07-01T02:02:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,02:02,07,0.266667,122,02,2016-07-01 02:02:01,4,False,False,True
3067,145113,2016-07-01T02:05:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,02:05,07,0.266667,125,02,2016-07-01 02:05:01,4,False,False,True

### Add max waiting time for next bike

In [58]:
# extract difference in minutes to a separate column
# on the moment that a bike was added, the waiting time is the time to next bike
i = 0
first_non_additive_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_added'] == False):
        i += 1
    if (i >= len(df)):
        break
    additive_row = df.iloc[i]
    time = additive_row['minutes_from_midnight']
    difference = abs(time - df.iloc[first_non_additive_index]['minutes_from_midnight'])
    df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike'] = difference 
    # add time using a date object (more accurate if wait for more than 24h)
    date_time = additive_row['date']
    last_date = df.iloc[first_non_additive_index]['date']
    date_difference = abs((date_time - last_date).total_seconds() / 60)
    df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike_as_date'] = date_difference 
    first_non_additive_index = i
    i += 1
# if we can't know when the next bike will be added, fill with -1 for now
df = df.fillna(-1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for,wait_for_bike_taken_as_date,wait_for_bike_taken,max_wait_for_new_bike
34966,1654489,2016-04-26T14:13:26,60.173099,24.949636,1,A21,Varsapuistikko,0,28,14:13,...,1,False,False,True,-1.000000,133.000000,-1.0,-1.0,-1.0,-1.0
34994,1654931,2016-04-26T17:27:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:27,...,1,False,False,True,1.000000,190.000000,-1.0,-1.0,-1.0,1.0
34993,1654928,2016-04-26T17:28:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:28,...,1,False,False,True,5.000000,185.000000,-1.0,-1.0,-1.0,5.0
35016,1655257,2016-04-26T17:29:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:29,...,1,False,False,True,1.000000,58.000000,-1.0,-1.0,-1.0,1.0
34960,1654420,2016-04-26T17:30:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:30,...,1,False,False,True,1.000000,126.000000,-1.0,-1.0,-1.0,1.0
34982,1654758,2016-04-26T17:41:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:41,...,1,False,False,True,-1.000000,161.000000,-1.0,-1.0,-1.0,-1.0
34961,1654423,2016-04-26T17:45:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:45,...,1,False,False,True,2.000000,127.000000,-1.0,-1.0,-1.0,2.0
34988,1654862,2016-04-26T17:47:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:47,...,1,False,False,True,1.000000,177.000000,-1.0,-1.0,-1.0,1.0
35019,1655296,2016-04-26T17:48:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:48,...,1,False,False,True,-1.000000,65.000000,-1.0,-1.0,-1.0,-1.0
35010,1655152,2016-04-27T07:21:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,07:21,...,2,False,False,True,3.000000,39.000000,-1.0,-1.0,-1.0,3.0
34976,1654680,2016-04-28T05:05:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:05,...,3,False,False,True,1.000000,149.000000,-1.0,-1.0,-1.0,1.0
34990,1654879,2016-04-28T05:06:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:06,...,3,False,False,True,1.000000,182.000000,-1.0,-1.0,-1.0,1.0
34981,1654752,2016-04-28T05:07:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:07,...,3,False,False,True,-1.000000,160.000000,-1.0,-1.0,-1.0,-1.0
35001,1655041,2016-04-28T05:08:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:08,...,3,False,False,True,11.983333,11.016667,-1.0,-1.0,-1.0,12.0
35006,1655097,2016-04-28T05:09:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:09,...,3,False,False,True,3.000000,31.000000,-1.0,-1.0,-1.0,3.0
35023,1655358,2016-04-28T08:39:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:39,...,3,False,False,True,87848.983333,83.016667,-1.0,-1.0,-1.0,1431.0
34986,1654835,2016-04-28T08:40:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:40,...,3,False,False,True,2.000000,170.000000,-1.0,-1.0,-1.0,2.0
35002,1655049,2016-04-28T09:22:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:22,...,3,False,False,True,2.000000,23.000000,-1.0,-1.0,-1.0,2.0
34998,1654972,2016-04-28T09:56:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:56,...,3,False,False,True,-1.000000,1.000000,-1.0,-1.0,-1.0,-1.0
34980,1654740,2016-04-28T10:15:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:15,...,3,False,False,True,1.000000,159.000000,-1.0,-1.0,-1.0,1.0
34972,1654598,2016-04-28T10:29:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:29,...,3,False,False,True,1.016667,144.000000,-1.0,-1.0,-1.0,1.0
34964,1654464,2016-04-28T10:34:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:34,...,3,False,False,True,-1.000000,131.000000,-1.0,-1.0,-1.0,-1.0
34997,1654960,2016-04-28T10:35:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:35,...,3,False,False,True,-1.000000,0.000000,0.0,-1.0,-1.0,-1.0
35004,1655073,2016-04-28T10:36:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:36,...,3,False,False,True,0.983333,29.016667,-1.0,-1.0,-1.0,1.0
35011,1655155,2016-04-28T10:37:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:37,...,3,False,False,True,7.000000,42.000000,-1.0,-1.0,-1.0,7.0
35007,1655106,2016-04-28T10:38:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:38,...,3,False,False,True,3.000000,34.000000,-1.0,-1.0,-1.0,3.0
34978,1654716,2016-04-28T10:42:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:42,...,3,False,False,True,2.000000,152.000000,-1.0,-1.0,-1.0,2.0
34979,1654728,2016-04-28T10:43:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:43,...,3,False,False,True,5.000000,154.000000,-1.0,-1.0,-1.0,5.0
35005,1655085,2016-04-28T10:44:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:44,...,3,False,False,True,1.000000,30.000000,-1.0,-1.0,-1.0,1.0
34967,1654492,2016-04-28T10:48:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:48,...,3,False,False,True,3.000000,136.000000,-1.0,-1.0,-1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,67516,2016-07-01T00:19:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:19,...,4,False,False,True,4.000000,52.000000,-1.0,1630.0,-1.0,4.0
31472,1489367,2016-07-01T00:20:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:20,...,4,False,False,True,4.000000,93.000000,-1.0,-1.0,-1.0,4.0
19194,908237,2016-07-01T00:21:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:21,...,4,False,False,True,4.000000,4.000000,-1.0,-1.0,-1.0,4.0
21469,1015952,2016-07-01T00:22:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:22,...,4,False,False,True,4.000000,1.000000,-1.0,-1.0,-1.0,4.0
19566,925850,2016-07-01T00:23:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:23,...,4,False,False,True,4.000000,6.000000,-1.0,-1.0,-1.0,4.0
7993,378168,2016-07-01T00:24:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:24,...,4,False,False,True,1.000000,0.000000,0.0,-1.0,-1.0,1.0
32649,1545046,2016-07-01T00:30:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:30,...,4,False,False,True,4.000000,26.000000,-1.0,-1.0,-1.0,4.0
26642,1260794,2016-07-01T00:31:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:31,...,4,False,False,True,4.000000,23.000000,-1.0,-1.0,-1.0,4.0
8956,423751,2016-07-01T00:47:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:47,...,4,False,False,True,1.000000,63.000000,-1.0,-1.0,-1.0,1.0
26670,1262115,2016-07-01T00:51:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:51,...,4,False,False,True,4.000000,12.000000,-1.0,-1.0,-1.0,4.0
5380,254552,2016-07-01T00:52:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:52,...,4,False,False,True,2.000000,9.000000,-1.0,-1.0,-1.0,2.0
21490,1016948,2016-07-01T00:57:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,00:57,...,4,False,False,True,2.000000,14.000000,-1.0,-1.0,-1.0,2.0
3382,160003,2016-07-01T01:02:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:02,...,4,False,False,True,2.000000,195.000000,-1.0,-1.0,-1.0,2.0
27366,1295048,2016-07-01T01:05:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:05,...,4,False,False,True,1.000000,19.000000,-1.0,-1.0,-1.0,1.0
8120,384187,2016-07-01T01:11:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:11,...,4,False,False,True,2.000000,24.000000,-1.0,-1.0,-1.0,2.0
8844,418446,2016-07-01T01:22:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:22,...,4,False,False,True,2.000000,6.000000,-1.0,-1.0,-1.0,2.0
12358,584714,2016-07-01T01:24:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:24,...,4,False,False,True,1.000000,126.000000,-1.0,-1.0,-1.0,1.0
22770,1077536,2016-07-01T01:26:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:26,...,4,False,False,True,2.000000,1.000000,-1.0,-1.0,-1.0,2.0
25294,1196995,2016-07-01T01:27:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:27,...,4,False,False,True,2.000000,3.000000,-1.0,-1.0,-1.0,2.0
10707,506614,2016-07-01T01:31:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:31,...,4,False,False,True,1.000000,6.000000,-1.0,-1.0,-1.0,1.0
20269,959134,2016-07-01T01:35:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:35,...,4,False,False,True,1.000000,0.000000,0.0,-1.0,-1.0,1.0
13465,637110,2016-07-01T01:37:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:37,...,4,False,False,True,2.000000,27.000000,-1.0,-1.0,-1.0,2.0
3082,145820,2016-07-01T01:39:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:39,...,4,False,False,True,2.000000,6.000000,-1.0,-1.0,-1.0,2.0
7754,366866,2016-07-01T01:41:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:41,...,4,False,False,True,2.000000,11.000000,-1.0,-1.0,-1.0,2.0
28423,1345071,2016-07-01T01:42:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:42,...,4,False,False,True,2.000000,1.000000,-1.0,-1.0,-1.0,2.0
24189,1144677,2016-07-01T01:44:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:44,...,4,False,True,False,2.000000,8.000000,-1.0,-1.0,-1.0,2.0
22458,1062772,2016-07-01T01:50:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:50,...,4,False,False,True,0.983333,19.016667,-1.0,-1.0,-1.0,1.0
7078,334871,2016-07-01T01:51:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,01:51,...,4,False,False,True,2.000000,110.000000,-1.0,-1.0,-1.0,2.0
1076,50915,2016-07-01T02:02:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,02:02,...,4,False,False,True,2.000000,1.000000,-1.0,1049.0,-1.0,2.0
3067,145113,2016-07-01T02:05:01,60.155411,24.950391,1,A01,Kaivopuisto,8,30,02:05,...,4,False,False,True,2.000000,68.000000,-1.0,3604.0,-1.0,2.0

### Add idle time for each station

In [11]:
i = 0
idle_for = 0
idle_for_as_date = 0
while (i < len(df)):
    row = df.iloc[i]
    previous_row = df.iloc[(i-1 if i > 0 else 0)]
    if (not row['bikes'] == previous_row['bikes']):
        idle_for = 0
        idle_for_as_date = 0
        df.loc[i, 'idle_for'] = idle_for
        df.loc[i, 'idle_for_as_date'] = idle_for_as_date        
        i+= 1
        continue
    time_now = row['minutes_from_midnight']
    time_last = previous_row['minutes_from_midnight']
    idle_for += abs(time_now - time_last)
    df.loc[i, 'idle_for'] = idle_for
    # add time using a date object (more accurate if wait for more than 24h)
    date_time_now = row['date']
    date_time_last = previous_row['date']
    secs = (date_time_now - date_time_last).total_seconds()
    idle_for_as_date += abs(secs / 60)
    df.loc[i, 'idle_for_as_date'] = idle_for_as_date
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for
34966,1654489,2016-04-26T14:13:26,60.173099,24.949636,1,A21,Varsapuistikko,0,28,14:13,...,853,14,2016-04-26 14:13:26,1,False,False,True,-1.000000,133.000000,-1.0
34994,1654931,2016-04-26T17:27:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:27,...,1047,17,2016-04-26 17:27:01,1,False,False,True,1.000000,190.000000,-1.0
34993,1654928,2016-04-26T17:28:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:28,...,1048,17,2016-04-26 17:28:01,1,False,False,True,5.000000,185.000000,-1.0
35016,1655257,2016-04-26T17:29:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:29,...,1049,17,2016-04-26 17:29:01,1,False,False,True,1.000000,58.000000,-1.0
34960,1654420,2016-04-26T17:30:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:30,...,1050,17,2016-04-26 17:30:01,1,False,False,True,1.000000,126.000000,-1.0
34982,1654758,2016-04-26T17:41:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:41,...,1061,17,2016-04-26 17:41:01,1,False,False,True,-1.000000,161.000000,-1.0
34961,1654423,2016-04-26T17:45:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:45,...,1065,17,2016-04-26 17:45:01,1,False,False,True,2.000000,127.000000,-1.0
34988,1654862,2016-04-26T17:47:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:47,...,1067,17,2016-04-26 17:47:01,1,False,False,True,1.000000,177.000000,-1.0
35019,1655296,2016-04-26T17:48:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,17:48,...,1068,17,2016-04-26 17:48:01,1,False,False,True,-1.000000,65.000000,-1.0
35010,1655152,2016-04-27T07:21:01,60.173099,24.949636,1,A21,Varsapuistikko,0,28,07:21,...,441,07,2016-04-27 07:21:01,2,False,False,True,3.000000,39.000000,-1.0
34976,1654680,2016-04-28T05:05:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:05,...,305,05,2016-04-28 05:05:01,3,False,False,True,1.000000,149.000000,-1.0
34990,1654879,2016-04-28T05:06:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:06,...,306,05,2016-04-28 05:06:01,3,False,False,True,1.000000,182.000000,-1.0
34981,1654752,2016-04-28T05:07:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:07,...,307,05,2016-04-28 05:07:01,3,False,False,True,-1.000000,160.000000,-1.0
35001,1655041,2016-04-28T05:08:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:08,...,308,05,2016-04-28 05:08:01,3,False,False,True,11.983333,11.016667,-1.0
35006,1655097,2016-04-28T05:09:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:09,...,309,05,2016-04-28 05:09:01,3,False,False,True,3.000000,31.000000,-1.0
35023,1655358,2016-04-28T08:39:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:39,...,519,08,2016-04-28 08:39:01,3,False,False,True,87848.983333,83.016667,-1.0
34986,1654835,2016-04-28T08:40:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,08:40,...,520,08,2016-04-28 08:40:01,3,False,False,True,2.000000,170.000000,-1.0
35002,1655049,2016-04-28T09:22:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:22,...,562,09,2016-04-28 09:22:01,3,False,False,True,2.000000,23.000000,-1.0
34998,1654972,2016-04-28T09:56:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,09:56,...,596,09,2016-04-28 09:56:01,3,False,False,True,-1.000000,1.000000,-1.0
34980,1654740,2016-04-28T10:15:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:15,...,615,10,2016-04-28 10:15:01,3,False,False,True,1.000000,159.000000,-1.0
34972,1654598,2016-04-28T10:29:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:29,...,629,10,2016-04-28 10:29:01,3,False,False,True,1.016667,144.000000,-1.0
34964,1654464,2016-04-28T10:34:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:34,...,634,10,2016-04-28 10:34:01,3,False,False,True,-1.000000,131.000000,-1.0
34997,1654960,2016-04-28T10:35:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:35,...,635,10,2016-04-28 10:35:01,3,False,False,True,-1.000000,0.000000,0.0
35004,1655073,2016-04-28T10:36:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:36,...,636,10,2016-04-28 10:36:01,3,False,False,True,0.983333,29.016667,-1.0
35011,1655155,2016-04-28T10:37:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:37,...,637,10,2016-04-28 10:37:01,3,False,False,True,7.000000,42.000000,-1.0
35007,1655106,2016-04-28T10:38:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:38,...,638,10,2016-04-28 10:38:01,3,False,False,True,3.000000,34.000000,-1.0
34978,1654716,2016-04-28T10:42:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:42,...,642,10,2016-04-28 10:42:01,3,False,False,True,2.000000,152.000000,-1.0
34979,1654728,2016-04-28T10:43:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:43,...,643,10,2016-04-28 10:43:01,3,False,False,True,5.000000,154.000000,-1.0
35005,1655085,2016-04-28T10:44:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:44,...,644,10,2016-04-28 10:44:01,3,False,False,True,1.000000,30.000000,-1.0
34967,1654492,2016-04-28T10:48:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:48,...,648,10,2016-04-28 10:48:01,3,False,False,True,3.000000,136.000000,-1.0
34973,1654610,2016-04-28T10:50:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:50,...,650,10,2016-04-28 10:50:01,3,False,False,True,1.983333,145.016667,-1.0
34985,1654822,2016-04-28T10:55:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:55,...,655,10,2016-04-28 10:55:01,3,False,False,True,4.000000,166.000000,-1.0
34963,1654451,2016-04-28T10:56:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:56,...,656,10,2016-04-28 10:56:01,3,False,False,True,-1.000000,130.000000,-1.0
35013,1655202,2016-04-28T10:58:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,10:58,...,658,10,2016-04-28 10:58:01,3,False,False,True,4.000000,50.000000,-1.0
34965,1654476,2016-04-28T11:02:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,11:02,...,662,11,2016-04-28 11:02:01,3,False,False,True,-1.000000,132.000000,-1.0
35008,1655118,2016-04-28T11:10:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,11:10,...,670,11,2016-04-28 11:10:01,3,False,False,True,1.000000,37.000000,-1.0
34995,1654934,2016-04-28T11:11:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,11:11,...,671,11,2016-04-28 11:11:01,3,False,False,True,4.000000,191.000000,-1.0
34969,1654521,2016-04-28T11:15:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,11:15,...,675,11,2016-04-28 11:15:01,3,False,False,True,1.000000,141.000000,-1.0
35022,1655345,2016-04-28T13:09:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,13:09,...,789,13,2016-04-28 13:09:01,3,False,False,True,9.016667,74.000000,-1.0
34996,1654947,2016-04-28T13:10:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,13:10,...,790,13,2016-04-28 13:10:01,3,False,False,True,1.000000,195.000000,-1.0
35003,1655060,2016-04-28T13:11:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,13:11,...,791,13,2016-04-28 13:11:01,3,False,False,True,4.016667,25.000000,-1.0
34992,1654915,2016-04-28T13:12:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,13:12,...,792,13,2016-04-28 13:12:01,3,False,False,True,-1.000000,184.000000,-1.0
34989,1654865,2016-04-29T05:57:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:57,...,357,05,2016-04-29 05:57:01,4,False,False,True,4.000000,178.000000,-1.0
34968,1654505,2016-04-29T05:58:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,05:58,...,358,05,2016-04-29 05:58:01,4,False,False,True,2.000000,139.000000,-1.0
35018,1655280,2016-04-29T11:03:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,11:03,...,663,11,2016-04-29 11:03:01,4,False,False,True,-1.000000,60.000000,-1.0
34987,1654845,2016-04-29T12:21:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,12:21,...,741,12,2016-04-29 12:21:01,4,False,False,True,5.000000,172.000000,-1.0
35014,1655215,2016-04-29T12:22:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,12:22,...,742,12,2016-04-29 12:22:01,4,False,False,True,2.000000,54.000000,-1.0
35021,1655326,2016-04-29T12:23:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,12:23,...,743,12,2016-04-29 12:23:01,4,False,False,True,3.000000,71.000000,-1.0
35017,1655260,2016-04-29T12:24:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,12:24,...,744,12,2016-04-29 12:24:01,4,False,False,True,-1.000000,59.000000,-1.0
35009,1655131,2016-04-29T12:25:01,60.155411,24.950391,1,A01,Kaivopuisto,0,30,12:25,...,745,12,2016-04-29 12:25:01,4,False,False,True,1.000000,38.000000,-1.0

In [12]:
df.describe()

,index,lat,lon,operative,bikes,total_slots,bikes_percent,minutes_from_midnight,weekday,max_wait_for_new_bike_as_date,idle_for_as_date,idle_for
count,4.205800e+04,42058.000000,42058.000000,42058.0,42058.000000,42058.000000,42058.000000,42058.000000,42058.000000,42058.000000,42058.000000,42058.000000
mean,9.957349e+05,60.155415,24.950391,1.0,16.460031,29.999524,0.548668,751.202601,3.120572,9.466110,112.374576,-0.898046
std,5.756032e+05,0.000273,0.000012,0.0,5.845913,0.030836,0.194864,355.569997,1.981940,428.572756,1888.191510,0.302592
min,0.000000e+00,60.155411,24.949636,1.0,0.000000,28.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000
25%,4.974928e+05,60.155411,24.950391,1.0,12.000000,30.000000,0.400000,467.000000,1.000000,2.000000,3.000000,-1.000000
50%,9.950945e+05,60.155411,24.950391,1.0,17.000000,30.000000,0.566667,755.000000,3.000000,2.000000,14.000000,-1.000000
75%,1.492717e+06,60.155411,24.950391,1.0,20.000000,30.000000,0.666667,1039.000000,5.000000,3.000000,55.000000,-1.000000
max,1.999985e+06,60.173099,24.950391,1.0,45.000000,30.000000,1.500000,1439.000000,6.000000,87848.983333,88076.000000,0.000000

### Add time for next bike take

Predict how much time for the next bike to be taken: max waiting time is not useful here.

In [42]:
i = 0
first_non_removing_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_removed'] == False):
        i += 1
    if (i >= len(df)):
        break
    removing_row = df.iloc[i]
#     time = removing_row['minutes_from_midnight']
#     times_until_now = df.loc[first_non_removing_index:i-1, 'minutes_from_midnight']
#     difference = abs(time - times_until_now)
#     df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'wait_for_bike_taken'] = difference 
    # add time using a date object (more accurate if wait for more than 24h)
    date_time = removing_row['date']
    date_times_until_now = df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'date']
    date_difference = abs((date_time - date_times_until_now).apply(lambda x: x.total_seconds() / 60))
    try:
        df.loc[first_non_removing_index:i-1, 'wait_for_bike_taken_as_date'] = date_difference 
    except:
        asd = date_difference
        print(date_times_until_now)
        print(len(df.loc[first_non_removing_index:(i if i > 0 else 0)])) 
        print(first_non_removing_index)
        print('--')
    first_non_removing_index = i
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

ValueError: Must have equal len keys and value when setting with an iterable

In [43]:
max_wait_counts = df['max_wait_for_new_bike_as_date'].value_counts()
wait_counts = df['wait_for_bike_taken_as_date'].value_counts()
print(max_wait_counts)
print(wait_counts)

 2.000000        30029
 3.000000         4465
 56.000000        2979
 37.000000         787
 15.000000         632
 7.000000          578
 6.000000          575
 16.000000         417
 13.000000         394
 12.000000         325
 4.000000          174
 11.000000         128
 8.000000          125
 27.000000         119
 1.000000          104
 9.000000           92
 1.983333           39
 19.016667          27
-1.000000           26
 4.983333            7
 19.000000           7
 5.000000            6
 1.016667            4
 10.000000           4
 20.000000           4
 0.983333            4
 87848.983333        1
 4.016667            1
 17.983333           1
 11.983333           1
 25.000000           1
 2.983333            1
 9.016667            1
Name: max_wait_for_new_bike_as_date, dtype: int64
37889.000000    2
40976.000000    2
1034.000000     2
37906.000000    2
1206.000000     2
37920.000000    2
6355.000000     2
37807.000000    2
1207.000000     2
40971.000000    2
37963.000000    2
1213.000000     2
37806.000000    2
37858.000000    2
4805.000000     2
4775.000000     2
37805.000000    2
38012.000000    2
37946.000000    2
6332.000000     2
37803.000000    2
34390.000000    2
38034.000000    2
37809.000000    2
1211.000000     2
1186.000000     2
37734.000000    2
37955.000000    2
6369.000000     2
37815.000000    2
               ..
35479.000000    1
20054.000000    1
41768.000000    1
654.983333      1
12983.000000    1
4175.000000     1
37556.000000    1
27367.000000    1
4435.000000     1
1910.000000     1
5852.000000     1
2660.000000     1
23944.000000    1
25568.000000    1
29008.000000    1
11689.000000    1
43165.000000    1
36246.000000    1
39823.000000    1
35481.000000    1
7249.000000     1
23946.000000    1
15768.000000    1
9883.000000     1
38117.000000    1
23343.000000    1
19789.000000    1
2917.000000     1
12242.000000    1
14.000000       1
Name: wait_for_bike_taken_as_date, Length: 34309, dtype: int64

## Remove useless or codependent columns

In [62]:
store_df = df
cleaned_df = df.drop(columns=['index', 'ts', 'sid', 'hour_and_minutes', 'name', 'bike_added', 'bike_removed', 'lat', 'lon', 'bikes', 'total_slots', 'date'])
filterable_max_waits = max_wait_counts[max_wait_counts < 10].index
filterable_waits = wait_counts[wait_counts < 10].index
cleaned_df = cleaned_df[~cleaned_df['max_wait_for_new_bike'].isin(filterable_max_waits)]
# cleaned_df = cleaned_df[~cleaned_df['wait_for_bike_taken_as_date'].isin(filterable_waits)]
print('removed', len(df) + len(cleaned_df), 'rows')
print('using columns', cleaned_df.columns.values)

removed 84060 rows
using columns ['operative' 'month' 'bikes_percent' 'minutes_from_midnight' 'hour'
 'weekday' 'weekend' 'max_wait_for_new_bike_as_date' 'idle_for_as_date'
 'idle_for' 'wait_for_bike_taken_as_date' 'wait_for_bike_taken'
 'max_wait_for_new_bike']

## Add classes for prediciton

In [63]:
def define_class(x):
    if x < 5:
        return 0
    if x < 15:
        return 1
    return 2

cleaned_df['max_wait_for_new_bike_class'] = cleaned_df['max_wait_for_new_bike'].apply(define_class)
# cleaned_df['wait_for_bike_taken_class'] = cleaned_df['wait_for_bike_taken_as_date'].apply(define_class)
# print('value count of classes in wait for next bike taken:')
# print(cleaned_df['wait_for_bike_taken_class'].value_counts())
print()
print('value count of classes in max wait for new bike')
print(cleaned_df['max_wait_for_new_bike_class'].value_counts())

value count of classes in max wait for new bike
0    34847
1     7154
2        1
Name: max_wait_for_new_bike_class, dtype: int64

## Define training and test sets

In [64]:
# drop the columns we would not know in a real situation, as well as the column to be predicted
X = cleaned_df.drop(columns=['max_wait_for_new_bike_class', 'max_wait_for_new_bike_as_date', 'wait_for_bike_taken_as_date']).as_matrix()
y = cleaned_df['max_wait_for_new_bike_class'].as_matrix()
# set 
train_size = int(len(X)*0.8)

# define the training and test sets
X_train = torch.from_numpy(np.asarray(X[:train_size].astype('float')))
# take transpose to get right dimensions for torch
y_train = torch.from_numpy(np.asarray([y[:train_size]]).astype('float').T)
X_test = torch.from_numpy(np.asarray(X[train_size:].astype('float')))
y_test = torch.from_numpy(np.asarray([y[train_size:]]).astype('float').T)
# combine input and labels
train_data = torch.cat((X_train, y_train), 1)
test_data = torch.cat((X_test, y_test), 1)

# sanity check
assert len(X) == len(X_train) + len(X_test)

## Define a simple neural network

In [65]:
class Net(nn.Module):
    def __init__(self, in_neurons=11, out_neurons=3, nr_layers=1, nr_neurons=10):
        super(Net, self).__init__()
        self.layers = nn.ModuleList()
        for i in range(nr_layers):
            self.layers.append(nn.Linear(in_neurons, nr_neurons))
            in_neurons = nr_neurons
        self.output_layer = nn.Linear(in_neurons, out_neurons)

    def forward(self, x):
        for layer in self.layers:
            x = layer(x)
            x = funcs.relu(x)
        return self.output_layer(x)

## Define loss function

In [52]:
loss_func = torch.nn.CrossEntropyLoss()

## Define training loop

In [66]:
net = Net().double()
optimizer = torch.optim.Adam(net.parameters(), lr=0.05)
data_len = len(train_data)
batch_size = 250
epochs = 50
for epoch in range(epochs):
    # shuffle the data
    indices = torch.randperm(data_len)
    # train the data in batches
    for i in range(0, data_len, batch_size):
        batch_indices = indices[i: i+ batch_size]
        data = train_data[batch_indices]
        # assume that last cell in array is label
        inp, label = data[:, :data.shape[1]-1], data[:, data.shape[1]-1]
        # torch has to be fed variables
        input_var = Variable(inp)
        label_var = Variable(label.long())
        # reset parameters after each training round
        optimizer.zero_grad()
        # actual forward pass
        outputs = net(input_var)
        # calculate loss
        loss = loss_func(outputs, label_var)
        loss.backward()
        optimizer.step()
    if epoch % 10 == 0:
        print('e:', epoch)
        print('loss', loss.item())
        print('--')

print('training done with a training set of length', len(train_data))

e: 0
loss 0.011217853767097214
--
e: 10
loss 6.320257158112769e-05
--
e: 20
loss 2.9847046717897215e-06
--
e: 30
loss 0.04352020912907271
--
e: 40
loss 0.006553049503505284
--
training done with a training set of length 33601

## Evaluate with test set

In [69]:
total_loss = 0
inp, label = test_data[:, :test_data.shape[1]-1], test_data[:, test_data.shape[1]-1]
test_input_var = Variable(inp)
test_label_var = Variable(label.long())
test_outputs = net(test_input_var)
# just print out the loss for now
test_loss = loss_func(test_outputs, test_label_var)
# this is basically just to see whether the net always predicted the same thing
total_loss = test_loss.item()
probs = funcs.softmax(test_outputs, dim=1)
predictions = torch.round(funcs.softmax(test_outputs, dim=1))
i = 0
for true, pred in zip(test_label_var.data, funcs.softmax(test_outputs, dim=1).data):
    if i == 200:
        break
    print(true, pred)
    i += 1

tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([  1.0000e+00,  5.2388e-237,  5.3390e-254], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)
tensor(0) tensor([ 0.9742,  0.0257,  0.0001], dtype=torch.float64)