In [23]:
import torch
from torch import nn
from torch.autograd import Variable
import pandas as pd
import dateutil
import datetime
from sklearn.model_selection import train_test_split
import numpy as np
import torch.nn.functional as funcs

In [24]:
# 68,335,729 data points in total
import random
p = 0.0001  # 0.01% of the lines -> 6800 data points
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
"""
df = pd.read_csv(
         'data/all_events.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)
"""
# df = pd.read_csv('../data/Kiasma_sorted.csv', nrows=1000000, low_memory=False)
# df = pd.read_csv('../data/Rautatientoriit√§_sorted.csv', low_memory=False)
df = pd.read_csv('../data/AaltoyliopistoMKorkeakouluaukio_sorted.csv', low_memory=False)

## Drop duplicated based on timestamp

In [25]:
df = df.drop_duplicates('ts').reset_index()

## Add some useful columns

In [26]:
# sort based on timestamp
df = df.sort_values('ts')
# the hour and minutes of the timestamp
df['hour_and_minutes'] = df['ts'].apply(lambda x: x[11:16])
# month of timestamp
df['month'] = df['ts'].apply(lambda x: x[5:7])
# the percentage of bikes
df['bikes_percent'] = df['bikes'] / df['total_slots']
df['minutes_from_midnight'] = df['ts'].apply(lambda x: int(x[11:13]) * 60 + int(x[14:16]))
df['hour'] = df['hour_and_minutes'].apply(lambda x: x[:2])
df['date'] = df['ts'].apply(pd.to_datetime)
df['weekday'] = df['date'].apply(lambda x: x.weekday())
df['weekend'] = df['weekday'].apply(lambda x: x > 4)
df.head()

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend
0,0,2018-05-11T07:48:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,07:48,05,0.125,468,07,2018-05-11 07:48:01,4,False
1,1,2018-05-11T07:49:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:49,05,0.100,469,07,2018-05-11 07:49:01,4,False
2,2,2018-05-11T07:50:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:50,05,0.100,470,07,2018-05-11 07:50:01,4,False
3,3,2018-05-11T07:51:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:51,05,0.100,471,07,2018-05-11 07:51:01,4,False
4,4,2018-05-11T07:52:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:52,05,0.100,472,07,2018-05-11 07:52:01,4,False

## Prepare for predictions

### Add column which states whether a bike was added at a given moment

In [27]:
df['bike_added'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] < x['bikes'] , axis=1)
df['bike_removed'] = df.apply(lambda x: df.iloc[(x.name - 1 if x.name > 0 else 0)]['bikes'] > x['bikes'] , axis=1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,month,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed
0,0,2018-05-11T07:48:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,07:48,05,0.125,468,07,2018-05-11 07:48:01,4,False,False,False
1,1,2018-05-11T07:49:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:49,05,0.100,469,07,2018-05-11 07:49:01,4,False,False,True
2,2,2018-05-11T07:50:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:50,05,0.100,470,07,2018-05-11 07:50:01,4,False,False,False
3,3,2018-05-11T07:51:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:51,05,0.100,471,07,2018-05-11 07:51:01,4,False,False,False
4,4,2018-05-11T07:52:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:52,05,0.100,472,07,2018-05-11 07:52:01,4,False,False,False
5,5,2018-05-11T07:53:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:53,05,0.100,473,07,2018-05-11 07:53:01,4,False,False,False
6,6,2018-05-11T07:54:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:54,05,0.100,474,07,2018-05-11 07:54:01,4,False,False,False
7,7,2018-05-11T07:55:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:55,05,0.100,475,07,2018-05-11 07:55:01,4,False,False,False
8,8,2018-05-11T07:56:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:56,05,0.100,476,07,2018-05-11 07:56:01,4,False,False,False
9,9,2018-05-11T07:57:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:57,05,0.100,477,07,2018-05-11 07:57:01,4,False,False,False
10,10,2018-05-11T07:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:58,05,0.100,478,07,2018-05-11 07:58:01,4,False,False,False
11,11,2018-05-11T07:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,07:59,05,0.075,479,07,2018-05-11 07:59:01,4,False,False,True
12,12,2018-05-11T08:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:00,05,0.075,480,08,2018-05-11 08:00:01,4,False,False,False
13,13,2018-05-11T08:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:01,05,0.050,481,08,2018-05-11 08:01:01,4,False,False,True
14,14,2018-05-11T08:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:02,05,0.050,482,08,2018-05-11 08:02:01,4,False,False,False
15,15,2018-05-11T08:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:03,05,0.050,483,08,2018-05-11 08:03:01,4,False,False,False
16,16,2018-05-11T08:04:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:04,05,0.075,484,08,2018-05-11 08:04:01,4,False,True,False
17,17,2018-05-11T08:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:05,05,0.075,485,08,2018-05-11 08:05:01,4,False,False,False
18,18,2018-05-11T08:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:06,05,0.075,486,08,2018-05-11 08:06:01,4,False,False,False
19,19,2018-05-11T08:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:07,05,0.075,487,08,2018-05-11 08:07:01,4,False,False,False
20,20,2018-05-11T08:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:08,05,0.125,488,08,2018-05-11 08:08:01,4,False,True,False
21,21,2018-05-11T08:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:09,05,0.125,489,08,2018-05-11 08:09:01,4,False,False,False
22,22,2018-05-11T08:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:10,05,0.125,490,08,2018-05-11 08:10:01,4,False,False,False
23,23,2018-05-11T08:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:11,05,0.125,491,08,2018-05-11 08:11:01,4,False,False,False
24,24,2018-05-11T08:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:12,05,0.125,492,08,2018-05-11 08:12:01,4,False,False,False
25,25,2018-05-11T08:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:13,05,0.125,493,08,2018-05-11 08:13:01,4,False,False,False
26,26,2018-05-11T08:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:14,05,0.125,494,08,2018-05-11 08:14:01,4,False,False,False
27,27,2018-05-11T08:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:15,05,0.100,495,08,2018-05-11 08:15:01,4,False,False,True
28,28,2018-05-11T08:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:16,05,0.100,496,08,2018-05-11 08:16:01,4,False,False,False
29,29,2018-05-11T08:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:17,05,0.100,497,08,2018-05-11 08:17:01,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,2018-05-11T08:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:58,05,0.100,538,08,2018-05-11 08:58:01,4,False,False,False
71,71,2018-05-11T08:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:59,05,0.100,539,08,2018-05-11 08:59:01,4,False,False,False
72,72,2018-05-11T09:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:00,05,0.100,540,09,2018-05-11 09:00:01,4,False,False,False
73,73,2018-05-11T09:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:01,05,0.100,541,09,2018-05-11 09:01:01,4,False,False,False
74,74,2018-05-11T09:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:02,05,0.100,542,09,2018-05-11 09:02:01,4,False,False,False
75,75,2018-05-11T09:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:03,05,0.125,543,09,2018-05-11 09:03:01,4,False,True,False
76,76,2018-05-11T09:04:02,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:04,05,0.125,544,09,2018-05-11 09:04:02,4,False,False,False
77,77,2018-05-11T09:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:05,05,0.125,545,09,2018-05-11 09:05:01,4,False,False,False
78,78,2018-05-11T09:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:06,05,0.125,546,09,2018-05-11 09:06:01,4,False,False,False
79,79,2018-05-11T09:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:07,05,0.125,547,09,2018-05-11 09:07:01,4,False,False,False
80,80,2018-05-11T09:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:08,05,0.125,548,09,2018-05-11 09:08:01,4,False,False,False
81,81,2018-05-11T09:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:09,05,0.125,549,09,2018-05-11 09:09:01,4,False,False,False
82,82,2018-05-11T09:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:10,05,0.125,550,09,2018-05-11 09:10:01,4,False,False,False
83,83,2018-05-11T09:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:11,05,0.125,551,09,2018-05-11 09:11:01,4,False,False,False
84,84,2018-05-11T09:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:12,05,0.125,552,09,2018-05-11 09:12:01,4,False,False,False
85,85,2018-05-11T09:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:13,05,0.150,553,09,2018-05-11 09:13:01,4,False,True,False
86,86,2018-05-11T09:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:14,05,0.150,554,09,2018-05-11 09:14:01,4,False,False,False
87,87,2018-05-11T09:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:15,05,0.150,555,09,2018-05-11 09:15:01,4,False,False,False
88,88,2018-05-11T09:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:16,05,0.175,556,09,2018-05-11 09:16:01,4,False,True,False
89,89,2018-05-11T09:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:17,05,0.175,557,09,2018-05-11 09:17:01,4,False,False,False
90,90,2018-05-11T09:18:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:18,05,0.175,558,09,2018-05-11 09:18:01,4,False,False,False
91,91,2018-05-11T09:19:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:19,05,0.175,559,09,2018-05-11 09:19:01,4,False,False,False
92,92,2018-05-11T09:20:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:20,05,0.200,560,09,2018-05-11 09:20:01,4,False,True,False
93,93,2018-05-11T09:21:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:21,05,0.200,561,09,2018-05-11 09:21:01,4,False,False,False
94,94,2018-05-11T09:22:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:22,05,0.250,562,09,2018-05-11 09:22:01,4,False,True,False
95,95,2018-05-11T09:23:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:23,05,0.250,563,09,2018-05-11 09:23:01,4,False,False,False
96,96,2018-05-11T09:24:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:24,05,0.250,564,09,2018-05-11 09:24:01,4,False,False,False
97,97,2018-05-11T09:25:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:25,05,0.250,565,09,2018-05-11 09:25:01,4,False,False,False
98,98,2018-05-11T09:26:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",9,40,09:26,05,0.225,566,09,2018-05-11 09:26:01,4,False,False,True
99,99,2018-05-11T09:27:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:27,05,0.200,567,09,2018-05-11 09:27:01,4,False,False,True

### Add max waiting time for next bike

In [28]:
# extract difference in minutes to a separate column
# on the moment that a bike was added, the waiting time is the time to next bike
i = 0
first_non_additive_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_added'] == False):
        i += 1
    if (i >= len(df)):
        break
    additive_row = df.iloc[i]
    time = additive_row['minutes_from_midnight']
    difference = abs(time - df.iloc[first_non_additive_index]['minutes_from_midnight'])
    df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike'] = difference 
    date_time = additive_row['date']
    last_date = df.iloc[first_non_additive_index]['date']
    date_difference = abs((date_time - last_date).total_seconds() / 60)
    df.loc[first_non_additive_index:(i-1 if i > 0 else 0), 'max_wait_for_new_bike_as_date'] = date_difference 
    first_non_additive_index = i
    i += 1
# if we can't know when the next bike will be added, fill with -1 for now
df = df.fillna(-1)
df.head(100)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,bikes_percent,minutes_from_midnight,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike,max_wait_for_new_bike_as_date
0,0,2018-05-11T07:48:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,07:48,...,0.125,468,07,2018-05-11 07:48:01,4,False,False,False,16.0,16.0
1,1,2018-05-11T07:49:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:49,...,0.100,469,07,2018-05-11 07:49:01,4,False,False,True,16.0,16.0
2,2,2018-05-11T07:50:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:50,...,0.100,470,07,2018-05-11 07:50:01,4,False,False,False,16.0,16.0
3,3,2018-05-11T07:51:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:51,...,0.100,471,07,2018-05-11 07:51:01,4,False,False,False,16.0,16.0
4,4,2018-05-11T07:52:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:52,...,0.100,472,07,2018-05-11 07:52:01,4,False,False,False,16.0,16.0
5,5,2018-05-11T07:53:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:53,...,0.100,473,07,2018-05-11 07:53:01,4,False,False,False,16.0,16.0
6,6,2018-05-11T07:54:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:54,...,0.100,474,07,2018-05-11 07:54:01,4,False,False,False,16.0,16.0
7,7,2018-05-11T07:55:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:55,...,0.100,475,07,2018-05-11 07:55:01,4,False,False,False,16.0,16.0
8,8,2018-05-11T07:56:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:56,...,0.100,476,07,2018-05-11 07:56:01,4,False,False,False,16.0,16.0
9,9,2018-05-11T07:57:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:57,...,0.100,477,07,2018-05-11 07:57:01,4,False,False,False,16.0,16.0
10,10,2018-05-11T07:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:58,...,0.100,478,07,2018-05-11 07:58:01,4,False,False,False,16.0,16.0
11,11,2018-05-11T07:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,07:59,...,0.075,479,07,2018-05-11 07:59:01,4,False,False,True,16.0,16.0
12,12,2018-05-11T08:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:00,...,0.075,480,08,2018-05-11 08:00:01,4,False,False,False,16.0,16.0
13,13,2018-05-11T08:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:01,...,0.050,481,08,2018-05-11 08:01:01,4,False,False,True,16.0,16.0
14,14,2018-05-11T08:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:02,...,0.050,482,08,2018-05-11 08:02:01,4,False,False,False,16.0,16.0
15,15,2018-05-11T08:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:03,...,0.050,483,08,2018-05-11 08:03:01,4,False,False,False,16.0,16.0
16,16,2018-05-11T08:04:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:04,...,0.075,484,08,2018-05-11 08:04:01,4,False,True,False,4.0,4.0
17,17,2018-05-11T08:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:05,...,0.075,485,08,2018-05-11 08:05:01,4,False,False,False,4.0,4.0
18,18,2018-05-11T08:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:06,...,0.075,486,08,2018-05-11 08:06:01,4,False,False,False,4.0,4.0
19,19,2018-05-11T08:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:07,...,0.075,487,08,2018-05-11 08:07:01,4,False,False,False,4.0,4.0
20,20,2018-05-11T08:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:08,...,0.125,488,08,2018-05-11 08:08:01,4,False,True,False,11.0,11.0
21,21,2018-05-11T08:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:09,...,0.125,489,08,2018-05-11 08:09:01,4,False,False,False,11.0,11.0
22,22,2018-05-11T08:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:10,...,0.125,490,08,2018-05-11 08:10:01,4,False,False,False,11.0,11.0
23,23,2018-05-11T08:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:11,...,0.125,491,08,2018-05-11 08:11:01,4,False,False,False,11.0,11.0
24,24,2018-05-11T08:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:12,...,0.125,492,08,2018-05-11 08:12:01,4,False,False,False,11.0,11.0
25,25,2018-05-11T08:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:13,...,0.125,493,08,2018-05-11 08:13:01,4,False,False,False,11.0,11.0
26,26,2018-05-11T08:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:14,...,0.125,494,08,2018-05-11 08:14:01,4,False,False,False,11.0,11.0
27,27,2018-05-11T08:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:15,...,0.100,495,08,2018-05-11 08:15:01,4,False,False,True,11.0,11.0
28,28,2018-05-11T08:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:16,...,0.100,496,08,2018-05-11 08:16:01,4,False,False,False,11.0,11.0
29,29,2018-05-11T08:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:17,...,0.100,497,08,2018-05-11 08:17:01,4,False,False,False,11.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,2018-05-11T08:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:58,...,0.100,538,08,2018-05-11 08:58:01,4,False,False,False,28.0,28.0
71,71,2018-05-11T08:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:59,...,0.100,539,08,2018-05-11 08:59:01,4,False,False,False,28.0,28.0
72,72,2018-05-11T09:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:00,...,0.100,540,09,2018-05-11 09:00:01,4,False,False,False,28.0,28.0
73,73,2018-05-11T09:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:01,...,0.100,541,09,2018-05-11 09:01:01,4,False,False,False,28.0,28.0
74,74,2018-05-11T09:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,09:02,...,0.100,542,09,2018-05-11 09:02:01,4,False,False,False,28.0,28.0
75,75,2018-05-11T09:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:03,...,0.125,543,09,2018-05-11 09:03:01,4,False,True,False,10.0,10.0
76,76,2018-05-11T09:04:02,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:04,...,0.125,544,09,2018-05-11 09:04:02,4,False,False,False,10.0,10.0
77,77,2018-05-11T09:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:05,...,0.125,545,09,2018-05-11 09:05:01,4,False,False,False,10.0,10.0
78,78,2018-05-11T09:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:06,...,0.125,546,09,2018-05-11 09:06:01,4,False,False,False,10.0,10.0
79,79,2018-05-11T09:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:07,...,0.125,547,09,2018-05-11 09:07:01,4,False,False,False,10.0,10.0
80,80,2018-05-11T09:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:08,...,0.125,548,09,2018-05-11 09:08:01,4,False,False,False,10.0,10.0
81,81,2018-05-11T09:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:09,...,0.125,549,09,2018-05-11 09:09:01,4,False,False,False,10.0,10.0
82,82,2018-05-11T09:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:10,...,0.125,550,09,2018-05-11 09:10:01,4,False,False,False,10.0,10.0
83,83,2018-05-11T09:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:11,...,0.125,551,09,2018-05-11 09:11:01,4,False,False,False,10.0,10.0
84,84,2018-05-11T09:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,09:12,...,0.125,552,09,2018-05-11 09:12:01,4,False,False,False,10.0,10.0
85,85,2018-05-11T09:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:13,...,0.150,553,09,2018-05-11 09:13:01,4,False,True,False,3.0,3.0
86,86,2018-05-11T09:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:14,...,0.150,554,09,2018-05-11 09:14:01,4,False,False,False,3.0,3.0
87,87,2018-05-11T09:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,09:15,...,0.150,555,09,2018-05-11 09:15:01,4,False,False,False,3.0,3.0
88,88,2018-05-11T09:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:16,...,0.175,556,09,2018-05-11 09:16:01,4,False,True,False,4.0,4.0
89,89,2018-05-11T09:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:17,...,0.175,557,09,2018-05-11 09:17:01,4,False,False,False,4.0,4.0
90,90,2018-05-11T09:18:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:18,...,0.175,558,09,2018-05-11 09:18:01,4,False,False,False,4.0,4.0
91,91,2018-05-11T09:19:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",7,40,09:19,...,0.175,559,09,2018-05-11 09:19:01,4,False,False,False,4.0,4.0
92,92,2018-05-11T09:20:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:20,...,0.200,560,09,2018-05-11 09:20:01,4,False,True,False,2.0,2.0
93,93,2018-05-11T09:21:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:21,...,0.200,561,09,2018-05-11 09:21:01,4,False,False,False,2.0,2.0
94,94,2018-05-11T09:22:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:22,...,0.250,562,09,2018-05-11 09:22:01,4,False,True,False,12.0,12.0
95,95,2018-05-11T09:23:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:23,...,0.250,563,09,2018-05-11 09:23:01,4,False,False,False,12.0,12.0
96,96,2018-05-11T09:24:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:24,...,0.250,564,09,2018-05-11 09:24:01,4,False,False,False,12.0,12.0
97,97,2018-05-11T09:25:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",10,40,09:25,...,0.250,565,09,2018-05-11 09:25:01,4,False,False,False,12.0,12.0
98,98,2018-05-11T09:26:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",9,40,09:26,...,0.225,566,09,2018-05-11 09:26:01,4,False,False,True,12.0,12.0
99,99,2018-05-11T09:27:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",8,40,09:27,...,0.200,567,09,2018-05-11 09:27:01,4,False,False,True,12.0,12.0

### Add idle time for each station

In [29]:
i = 0
idle_for = 0
idle_for_as_date = 0
while (i < len(df)):
    row = df.iloc[i]
    previous_row = df.iloc[(i-1 if i > 0 else 0)]
    if (not row['bikes'] == previous_row['bikes']):
        idle_for = 0
        idle_for_as_date = 0
        df.loc[i, 'idle_for'] = idle_for
        df.loc[i, 'idle_for_as_date'] = idle_for_as_date        
        i+= 1
        continue
    time_now = row['minutes_from_midnight']
    time_last = previous_row['minutes_from_midnight']
    date_time_now = row['date']
    date_time_last = previous_row['date']
    idle_for += abs(time_now - time_last)
    secs = (date_time_now - date_time_last).total_seconds()
    idle_for_as_date += abs(secs / 60)
    df.loc[i, 'idle_for'] = idle_for
    df.loc[i, 'idle_for_as_date'] = idle_for_as_date
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,hour,date,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike,max_wait_for_new_bike_as_date,idle_for,idle_for_as_date
0,0,2018-05-11T07:48:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,07:48,...,07,2018-05-11 07:48:01,4,False,False,False,16.0,16.0,0.0,0.000000
1,1,2018-05-11T07:49:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:49,...,07,2018-05-11 07:49:01,4,False,False,True,16.0,16.0,0.0,0.000000
2,2,2018-05-11T07:50:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:50,...,07,2018-05-11 07:50:01,4,False,False,False,16.0,16.0,1.0,1.000000
3,3,2018-05-11T07:51:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:51,...,07,2018-05-11 07:51:01,4,False,False,False,16.0,16.0,2.0,2.000000
4,4,2018-05-11T07:52:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:52,...,07,2018-05-11 07:52:01,4,False,False,False,16.0,16.0,3.0,3.000000
5,5,2018-05-11T07:53:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:53,...,07,2018-05-11 07:53:01,4,False,False,False,16.0,16.0,4.0,4.000000
6,6,2018-05-11T07:54:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:54,...,07,2018-05-11 07:54:01,4,False,False,False,16.0,16.0,5.0,5.000000
7,7,2018-05-11T07:55:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:55,...,07,2018-05-11 07:55:01,4,False,False,False,16.0,16.0,6.0,6.000000
8,8,2018-05-11T07:56:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:56,...,07,2018-05-11 07:56:01,4,False,False,False,16.0,16.0,7.0,7.000000
9,9,2018-05-11T07:57:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:57,...,07,2018-05-11 07:57:01,4,False,False,False,16.0,16.0,8.0,8.000000
10,10,2018-05-11T07:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:58,...,07,2018-05-11 07:58:01,4,False,False,False,16.0,16.0,9.0,9.000000
11,11,2018-05-11T07:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,07:59,...,07,2018-05-11 07:59:01,4,False,False,True,16.0,16.0,0.0,0.000000
12,12,2018-05-11T08:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:00,...,08,2018-05-11 08:00:01,4,False,False,False,16.0,16.0,1.0,1.000000
13,13,2018-05-11T08:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:01,...,08,2018-05-11 08:01:01,4,False,False,True,16.0,16.0,0.0,0.000000
14,14,2018-05-11T08:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:02,...,08,2018-05-11 08:02:01,4,False,False,False,16.0,16.0,1.0,1.000000
15,15,2018-05-11T08:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:03,...,08,2018-05-11 08:03:01,4,False,False,False,16.0,16.0,2.0,2.000000
16,16,2018-05-11T08:04:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:04,...,08,2018-05-11 08:04:01,4,False,True,False,4.0,4.0,0.0,0.000000
17,17,2018-05-11T08:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:05,...,08,2018-05-11 08:05:01,4,False,False,False,4.0,4.0,1.0,1.000000
18,18,2018-05-11T08:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:06,...,08,2018-05-11 08:06:01,4,False,False,False,4.0,4.0,2.0,2.000000
19,19,2018-05-11T08:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:07,...,08,2018-05-11 08:07:01,4,False,False,False,4.0,4.0,3.0,3.000000
20,20,2018-05-11T08:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:08,...,08,2018-05-11 08:08:01,4,False,True,False,11.0,11.0,0.0,0.000000
21,21,2018-05-11T08:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:09,...,08,2018-05-11 08:09:01,4,False,False,False,11.0,11.0,1.0,1.000000
22,22,2018-05-11T08:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:10,...,08,2018-05-11 08:10:01,4,False,False,False,11.0,11.0,2.0,2.000000
23,23,2018-05-11T08:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:11,...,08,2018-05-11 08:11:01,4,False,False,False,11.0,11.0,3.0,3.000000
24,24,2018-05-11T08:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:12,...,08,2018-05-11 08:12:01,4,False,False,False,11.0,11.0,4.0,4.000000
25,25,2018-05-11T08:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:13,...,08,2018-05-11 08:13:01,4,False,False,False,11.0,11.0,5.0,5.000000
26,26,2018-05-11T08:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:14,...,08,2018-05-11 08:14:01,4,False,False,False,11.0,11.0,6.0,6.000000
27,27,2018-05-11T08:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:15,...,08,2018-05-11 08:15:01,4,False,False,True,11.0,11.0,0.0,0.000000
28,28,2018-05-11T08:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:16,...,08,2018-05-11 08:16:01,4,False,False,False,11.0,11.0,1.0,1.000000
29,29,2018-05-11T08:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:17,...,08,2018-05-11 08:17:01,4,False,False,False,11.0,11.0,2.0,2.000000
30,30,2018-05-11T08:18:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:18,...,08,2018-05-11 08:18:01,4,False,False,False,11.0,11.0,3.0,3.000000
31,31,2018-05-11T08:19:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:19,...,08,2018-05-11 08:19:01,4,False,True,False,12.0,12.0,0.0,0.000000
32,32,2018-05-11T08:20:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:20,...,08,2018-05-11 08:20:01,4,False,False,False,12.0,12.0,1.0,1.000000
33,33,2018-05-11T08:21:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:21,...,08,2018-05-11 08:21:01,4,False,False,False,12.0,12.0,2.0,2.000000
34,34,2018-05-11T08:22:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:22,...,08,2018-05-11 08:22:01,4,False,False,False,12.0,12.0,3.0,3.000000
35,35,2018-05-11T08:23:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:23,...,08,2018-05-11 08:23:01,4,False,False,False,12.0,12.0,4.0,4.000000
36,36,2018-05-11T08:24:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:24,...,08,2018-05-11 08:24:01,4,False,False,False,12.0,12.0,5.0,5.000000
37,37,2018-05-11T08:25:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:25,...,08,2018-05-11 08:25:01,4,False,False,False,12.0,12.0,6.0,6.000000
38,38,2018-05-11T08:26:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:26,...,08,2018-05-11 08:26:01,4,False,False,False,12.0,12.0,7.0,7.000000
39,39,2018-05-11T08:27:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:27,...,08,2018-05-11 08:27:01,4,False,False,False,12.0,12.0,8.0,8.000000
40,40,2018-05-11T08:28:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:28,...,08,2018-05-11 08:28:01,4,False,False,False,12.0,12.0,9.0,9.000000
41,41,2018-05-11T08:29:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:29,...,08,2018-05-11 08:29:01,4,False,False,False,12.0,12.0,10.0,10.000000
42,42,2018-05-11T08:30:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:30,...,08,2018-05-11 08:30:01,4,False,False,False,12.0,12.0,11.0,11.000000
43,43,2018-05-11T08:31:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:31,...,08,2018-05-11 08:31:01,4,False,True,False,4.0,4.0,0.0,0.000000
44,44,2018-05-11T08:32:02,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:32,...,08,2018-05-11 08:32:02,4,False,False,False,4.0,4.0,1.0,1.016667
45,45,2018-05-11T08:33:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:33,...,08,2018-05-11 08:33:01,4,False,False,False,4.0,4.0,2.0,2.000000
46,46,2018-05-11T08:34:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:34,...,08,2018-05-11 08:34:01,4,False,False,True,4.0,4.0,0.0,0.000000
47,47,2018-05-11T08:35:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:35,...,08,2018-05-11 08:35:01,4,False,True,False,28.0,28.0,0.0,0.000000
48,48,2018-05-11T08:36:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:36,...,08,2018-05-11 08:36:01,4,False,False,False,28.0,28.0,1.0,1.000000
49,49,2018-05-11T08:37:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:37,...,08,2018-05-11 08:37:01,4,False,False,False,28.0,28.0,2.0,2.000000

In [31]:
df.describe()

,index,lat,lon,operative,sid,bikes,total_slots,bikes_percent,minutes_from_midnight,weekday,max_wait_for_new_bike,max_wait_for_new_bike_as_date,idle_for,idle_for_as_date
count,128023.000000,1.280230e+05,1.280230e+05,128023.0,128023.0,128023.000000,128023.000000,128023.000000,128023.000000,128023.000000,128023.000000,128023.000000,128023.000000,128023.000000
mean,64879.642674,6.018431e+01,2.482667e+01,1.0,541.0,7.830398,40.599752,0.192926,732.632800,3.040883,239.543691,95.268873,146.433375,34.819797
std,38422.483995,4.872211e-11,6.656390e-11,0.0,0.0,9.516940,0.489950,0.234671,404.983005,1.993114,421.196981,133.995827,441.413243,70.843195
min,0.000000,6.018431e+01,2.482667e+01,1.0,541.0,0.000000,40.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000
25%,32005.500000,6.018431e+01,2.482667e+01,1.0,541.0,1.000000,40.000000,0.024390,388.000000,1.000000,13.000000,13.000000,2.000000,2.000000
50%,64011.000000,6.018431e+01,2.482667e+01,1.0,541.0,4.000000,41.000000,0.097561,734.000000,3.000000,28.000000,28.000000,6.000000,6.000000
75%,96016.500000,6.018431e+01,2.482667e+01,1.0,541.0,12.000000,41.000000,0.292683,1081.000000,5.000000,102.000000,101.000000,25.000000,24.000000
max,142935.000000,6.018431e+01,2.482667e+01,1.0,541.0,60.000000,41.000000,1.463415,1439.000000,6.000000,1400.000000,593.000000,1937.000000,503.000000

### Add time for next bike take

Predict how much time for the next bike to be taken: max waiting time is not useful here.

In [33]:
i = 0
first_non_removing_index = 0
while (i < len(df)):
    while (i < len(df) and df.iloc[i]['bike_removed'] == False):
        i += 1
    if (i >= len(df)):
        break
    removing_row = df.iloc[i]
    time = removing_row['minutes_from_midnight']
    times_until_now = df.loc[first_non_removing_index:i-1, 'minutes_from_midnight']
    difference = abs(time - times_until_now)
    df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'wait_for_bike_taken'] = difference 
    date_time = removing_row['date']
    date_times_until_now = df.loc[first_non_removing_index:i-1, 'date']
    date_difference = abs((date_time - date_times_until_now).apply(lambda x: x.total_seconds() / 60))
    df.loc[first_non_removing_index:(i-1 if i > 0 else 0), 'wait_for_bike_taken_as_date'] = date_difference 
    first_non_removing_index = i
    i += 1
# if we can't know when the next bike will be taken, fill with -1 for now
df = df.fillna(-1)
df.head(50)

,index,ts,lat,lon,operative,sid,name,bikes,total_slots,hour_and_minutes,...,weekday,weekend,bike_added,bike_removed,max_wait_for_new_bike,max_wait_for_new_bike_as_date,idle_for,idle_for_as_date,wait_for_bike_taken,wait_for_bike_taken_as_date
0,0,2018-05-11T07:48:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,07:48,...,4,False,False,False,16.0,16.0,0.0,0.000000,1.0,1.000000
1,1,2018-05-11T07:49:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:49,...,4,False,False,True,16.0,16.0,0.0,0.000000,10.0,10.000000
2,2,2018-05-11T07:50:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:50,...,4,False,False,False,16.0,16.0,1.0,1.000000,9.0,9.000000
3,3,2018-05-11T07:51:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:51,...,4,False,False,False,16.0,16.0,2.0,2.000000,8.0,8.000000
4,4,2018-05-11T07:52:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:52,...,4,False,False,False,16.0,16.0,3.0,3.000000,7.0,7.000000
5,5,2018-05-11T07:53:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:53,...,4,False,False,False,16.0,16.0,4.0,4.000000,6.0,6.000000
6,6,2018-05-11T07:54:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:54,...,4,False,False,False,16.0,16.0,5.0,5.000000,5.0,5.000000
7,7,2018-05-11T07:55:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:55,...,4,False,False,False,16.0,16.0,6.0,6.000000,4.0,4.000000
8,8,2018-05-11T07:56:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:56,...,4,False,False,False,16.0,16.0,7.0,7.000000,3.0,3.000000
9,9,2018-05-11T07:57:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:57,...,4,False,False,False,16.0,16.0,8.0,8.000000,2.0,2.000000
10,10,2018-05-11T07:58:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,07:58,...,4,False,False,False,16.0,16.0,9.0,9.000000,1.0,1.000000
11,11,2018-05-11T07:59:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,07:59,...,4,False,False,True,16.0,16.0,0.0,0.000000,2.0,2.000000
12,12,2018-05-11T08:00:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:00,...,4,False,False,False,16.0,16.0,1.0,1.000000,1.0,1.000000
13,13,2018-05-11T08:01:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:01,...,4,False,False,True,16.0,16.0,0.0,0.000000,14.0,14.000000
14,14,2018-05-11T08:02:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:02,...,4,False,False,False,16.0,16.0,1.0,1.000000,13.0,13.000000
15,15,2018-05-11T08:03:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",2,40,08:03,...,4,False,False,False,16.0,16.0,2.0,2.000000,12.0,12.000000
16,16,2018-05-11T08:04:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:04,...,4,False,True,False,4.0,4.0,0.0,0.000000,11.0,11.000000
17,17,2018-05-11T08:05:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:05,...,4,False,False,False,4.0,4.0,1.0,1.000000,10.0,10.000000
18,18,2018-05-11T08:06:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:06,...,4,False,False,False,4.0,4.0,2.0,2.000000,9.0,9.000000
19,19,2018-05-11T08:07:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",3,40,08:07,...,4,False,False,False,4.0,4.0,3.0,3.000000,8.0,8.000000
20,20,2018-05-11T08:08:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:08,...,4,False,True,False,11.0,11.0,0.0,0.000000,7.0,7.000000
21,21,2018-05-11T08:09:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:09,...,4,False,False,False,11.0,11.0,1.0,1.000000,6.0,6.000000
22,22,2018-05-11T08:10:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:10,...,4,False,False,False,11.0,11.0,2.0,2.000000,5.0,5.000000
23,23,2018-05-11T08:11:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:11,...,4,False,False,False,11.0,11.0,3.0,3.000000,4.0,4.000000
24,24,2018-05-11T08:12:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:12,...,4,False,False,False,11.0,11.0,4.0,4.000000,3.0,3.000000
25,25,2018-05-11T08:13:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:13,...,4,False,False,False,11.0,11.0,5.0,5.000000,2.0,2.000000
26,26,2018-05-11T08:14:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:14,...,4,False,False,False,11.0,11.0,6.0,6.000000,1.0,1.000000
27,27,2018-05-11T08:15:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:15,...,4,False,False,True,11.0,11.0,0.0,0.000000,19.0,19.000000
28,28,2018-05-11T08:16:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:16,...,4,False,False,False,11.0,11.0,1.0,1.000000,18.0,18.000000
29,29,2018-05-11T08:17:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:17,...,4,False,False,False,11.0,11.0,2.0,2.000000,17.0,17.000000
30,30,2018-05-11T08:18:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",4,40,08:18,...,4,False,False,False,11.0,11.0,3.0,3.000000,16.0,16.000000
31,31,2018-05-11T08:19:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:19,...,4,False,True,False,12.0,12.0,0.0,0.000000,15.0,15.000000
32,32,2018-05-11T08:20:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:20,...,4,False,False,False,12.0,12.0,1.0,1.000000,14.0,14.000000
33,33,2018-05-11T08:21:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:21,...,4,False,False,False,12.0,12.0,2.0,2.000000,13.0,13.000000
34,34,2018-05-11T08:22:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:22,...,4,False,False,False,12.0,12.0,3.0,3.000000,12.0,12.000000
35,35,2018-05-11T08:23:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:23,...,4,False,False,False,12.0,12.0,4.0,4.000000,11.0,11.000000
36,36,2018-05-11T08:24:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:24,...,4,False,False,False,12.0,12.0,5.0,5.000000,10.0,10.000000
37,37,2018-05-11T08:25:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:25,...,4,False,False,False,12.0,12.0,6.0,6.000000,9.0,9.000000
38,38,2018-05-11T08:26:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:26,...,4,False,False,False,12.0,12.0,7.0,7.000000,8.0,8.000000
39,39,2018-05-11T08:27:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:27,...,4,False,False,False,12.0,12.0,8.0,8.000000,7.0,7.000000
40,40,2018-05-11T08:28:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:28,...,4,False,False,False,12.0,12.0,9.0,9.000000,6.0,6.000000
41,41,2018-05-11T08:29:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:29,...,4,False,False,False,12.0,12.0,10.0,10.000000,5.0,5.000000
42,42,2018-05-11T08:30:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:30,...,4,False,False,False,12.0,12.0,11.0,11.000000,4.0,4.000000
43,43,2018-05-11T08:31:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:31,...,4,False,True,False,4.0,4.0,0.0,0.000000,3.0,3.000000
44,44,2018-05-11T08:32:02,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:32,...,4,False,False,False,4.0,4.0,1.0,1.016667,2.0,1.983333
45,45,2018-05-11T08:33:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:33,...,4,False,False,False,4.0,4.0,2.0,2.000000,1.0,1.000000
46,46,2018-05-11T08:34:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",5,40,08:34,...,4,False,False,True,4.0,4.0,0.0,0.000000,5.0,5.000000
47,47,2018-05-11T08:35:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:35,...,4,False,True,False,28.0,28.0,0.0,0.000000,4.0,4.000000
48,48,2018-05-11T08:36:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:36,...,4,False,False,False,28.0,28.0,1.0,1.000000,3.0,3.000000
49,49,2018-05-11T08:37:01,60.184312,24.826671,1,541,"Aalto-yliopisto (M), Korkeakouluaukio",6,40,08:37,...,4,False,False,False,28.0,28.0,2.0,2.000000,2.0,2.000000

## Remove useless or codependent columns

In [35]:
df = df.drop(columns=['index', 'ts', 'sid', 'hour_and_minutes', 'name', 'bike_added', 'bike_removed', 'lat', 'lon', 'bikes', 'total_slots', 'date'])
print('using columns', df.columns.values)

using columns ['operative' 'month' 'bikes_percent' 'minutes_from_midnight' 'hour'
 'weekday' 'weekend' 'max_wait_for_new_bike'
 'max_wait_for_new_bike_as_date' 'idle_for' 'idle_for_as_date'
 'wait_for_bike_taken' 'wait_for_bike_taken_as_date']

## Define training and test sets

In [36]:
# drop the columns we would not know in a real situation, as well as the column to be predicted
X = df.drop(columns=['max_wait_for_new_bike', 'wait_for_bike_taken']).as_matrix()
y = df['max_wait_for_new_bike'].as_matrix()
# set 
train_size = int(len(X)*0.8)

# define the training and test sets
X_train = torch.from_numpy(np.asarray(X[:train_size].astype('float')))
# take transpose to get right dimensions for torch
y_train = torch.from_numpy(np.asarray([y[:train_size]]).T)
X_test = torch.from_numpy(np.asarray(X[train_size:].astype('float')))
y_test = torch.from_numpy(np.asarray([y[train_size:]]).T)
# combine input and labels
train_data = torch.cat((X_train, y_train), 1)
test_data = torch.cat((X_test, y_test), 1)

# sanity check
assert len(X) == len(X_train) + len(X_test)

## Define a simple neural network

In [59]:
class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.l1 = nn.Linear(11, 32)
        self.l2 = nn.Linear(32, 64)
        self.l3 = nn.Linear(64, 128)
        self.l4 = nn.Linear(128, 256)
        self.l5 = nn.Linear(256, 128)
        self.l6 = nn.Linear(128, 64)
        self.l9 = nn.Linear(64, 8)
        self.l10 = nn.Linear(8, 1)

    def forward(self, x):
        x = self.l1(x)
        x = funcs.relu(self.l2(x))
        x = funcs.tanh(self.l3(x))
        x = funcs.sigmoid(self.l4(x))
        x = funcs.tanh(self.l5(x))
        x = funcs.tanh(self.l6(x))
        x = funcs.relu(self.l9(x))
        return self.l10(x)

## Define loss function

In [61]:
loss_func = torch.nn.SmoothL1Loss()

## Define training loop

In [62]:
net = Net().double()
optimizer = torch.optim.SGD(net.parameters(), lr=0.05)
batch_size = 250
epochs = 500
for epoch in range(epochs):
    # train the data in batches
    batch_indices = torch.randperm(len(train_data))[:batch_size]
    data = train_data[batch_indices]
    # assume that last cell in array is label
    inp, label = data[:, :data.shape[1]-1], data[:, data.shape[1]-1]
    # torch has to be fed variables
    input_var = Variable(inp)
    label_var = Variable(label.reshape(label.shape[0], 1))
    # reset parameters after each training round
    optimizer.zero_grad()
    # actual forward pass
    outputs = net(input_var)
    # calculate loss
    loss = loss_func(outputs, label_var)
    if epoch % 50 == 0:
        print('e:', epoch)
        print('loss', loss.item())
        print('--')
    loss.backward()
    optimizer.step()
print('training done with a training set of length', len(train_data))

e: 0
loss 275.24610062847313
--
e: 50
loss 277.20496562227726
--
e: 100
loss 199.92841372853783
--
e: 150
loss 245.60253919054045
--
e: 200
loss 220.0805204794897
--
e: 250
loss 192.7805904672157
--
e: 300
loss 207.14161373736536
--
e: 350
loss 239.165343190196
--
e: 400
loss 213.13420211326488
--
e: 450
loss 218.67697862381812
--
training done with a training set of length 102418

## Evaluate with test set

In [63]:
total_loss = 0
for i, test in enumerate(test_data):
    inp, label = test[:data.shape[1]-1], test[data.shape[1]-1]
    test_input_var = Variable(inp)
    test_label_var = Variable(label)
    test_outputs = net(test_input_var)
    # just print out the loss for now
    test_loss = loss_func(test_outputs, test_label_var)
    # this is basically just to see whether the net always predicted the same thing
    if i < 20:
        print('true label', test_label_var.item(), ', prediction', test_outputs.item())
    total_loss = test_loss.item()
print('average loss', total_loss/len(test_data))

true label 11.0 , prediction 25.028935952097275
true label 11.0 , prediction 25.028935469070735
true label 11.0 , prediction 25.028935147665777
true label 11.0 , prediction 25.02893889520709
true label 11.0 , prediction 25.028938717856143
true label 11.0 , prediction 25.028938522085184
true label 11.0 , prediction 25.028938305981093
true label 34.0 , prediction 25.028940170684862
true label 34.0 , prediction 25.028940125807797
true label 34.0 , prediction 25.02894007626968
true label 34.0 , prediction 25.028940021586426
true label 34.0 , prediction 25.028939981984635
true label 34.0 , prediction 25.02893994727447
true label 34.0 , prediction 25.02893991062353
true label 34.0 , prediction 25.028940458943495
true label 34.0 , prediction 25.02894044400566
true label 34.0 , prediction 25.028940427516357
true label 34.0 , prediction 25.02894040931442
true label 34.0 , prediction 25.02894039105941
true label 34.0 , prediction 25.028940379222092
average loss 0.0009970293309065107

## Use different loss

In [64]:
loss_func = torch.nn.MSELoss()

In [65]:
net = Net().double()
optimizer = torch.optim.SGD(net.parameters(), lr=0.05)
batch_size = 250
epochs = 500
for epoch in range(epochs):
    # train the data in batches
    batch_indices = torch.randperm(len(train_data))[:batch_size]
    data = train_data[batch_indices]
    # assume that last cell in array is label
    inp, label = data[:, :data.shape[1]-1], data[:, data.shape[1]-1]
    # torch has to be fed variables
    input_var = Variable(inp)
    label_var = Variable(label.reshape(label.shape[0], 1))
    # reset parameters after each training round
    optimizer.zero_grad()
    # actual forward pass
    outputs = net(input_var)
    # calculate loss
    loss = loss_func(outputs, label_var)
    if epoch % 50 == 0:
        print('e:', epoch)
        print('loss', loss.item())
        print('--')
    loss.backward()
    optimizer.step()
print('training done with a training set of length', len(train_data))

e: 0
loss 230064.06366543914
--
e: 50
loss 173181.85866046816
--
e: 100
loss 160459.54957422375
--
e: 150
loss 198285.55105468695
--
e: 200
loss 163753.8045071396
--
e: 250
loss 165148.46526244932
--
e: 300
loss 157012.3635522407
--
e: 350
loss 198059.71368958388
--
e: 400
loss 158357.02911483365
--
e: 450
loss 149627.04819463016
--
training done with a training set of length 102418

In [66]:
total_loss = 0
for i, test in enumerate(test_data):
    inp, label = test[:data.shape[1]-1], test[data.shape[1]-1]
    test_input_var = Variable(inp)
    test_label_var = Variable(label)
    test_outputs = net(test_input_var)
    # just print out the loss for now
    test_loss = loss_func(test_outputs, test_label_var)
    if i < 20:
        print('true label', test_label_var.item(), ', prediction', test_outputs.item())
    total_loss = test_loss.item()
print('average loss', total_loss/len(test_data))

true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 11.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
true label 34.0 , prediction 250.05519637229173
average loss 2.4615782708662355